{% load django_sql_dashboard %}

<div class="query-results {{ result.query.settings.wrapper_class }}">
  {% if result.query %}
  {% if result.query.title %}<h2>{{ result.query.title }}</h2>{% endif %}
  {% if result.query.description %}
  <div class="description measure">
    {{ result.query.description|sql_dashboard_markdown }}
  </div>
  {% endif %}
  {% endif %}
  {% block widget_results %}{% endblock %}
  {% if user_can_edit_dashboard %}
  <details class="mv2">
    <summary class="pointer f6 mb1">SQL query</summary>
    {% if saved_dashboard %}
    <pre class="sql">{{ result.sql }}</pre>{% else %}<textarea
      name="sql">{{ result.sql|default:"" }}</textarea>{% endif %}
    {% if not saved_dashboard %}<p>
      <input class="btn" type="submit" value="Run quer{% if query_results|length > 1 %}ies{% else %}y{% endif %}" />
    </p>{% endif %}
    <p class="f6 gray">Duration: {{ result.duration_ms|floatformat:2 }}ms</p>
  </details>
  {% endif %}
</div>