{% extends 'base.html.j2' %}
{% set heading = 'orgtype results' %}
{#% set heading = query|list_to_string %}
{% set selected_org_type = query|list_to_string %#}
{% if res.has_other_pages() %}
    {% set subtitle = "Showing organisation {:,.0f} to {:,.0f} out of {:,.0f}".format(
        res.start_index(),
        res.end_index(),
        res.paginator.count
    ) %}
{% else %}
    {% set subtitle = "Showing all {:,.0f} organisations".format(res.paginator.count) %}
{% endif %}

{% block content %}
<main class="">
    <form class="" action="{{ url_remove(request, 'q') }}">
        <div class="fl w-100 w-70-l pa2">
            <div class="cf mb2 flex">
                <input name="q" class="f6 f5-l input-reset bl bt bb br br-0 b--black-20 fl near-black bg-white pa3 lh-solid w-100 w-80-ns br2-ns br--left-ns" type="text" placeholder="Search these organisations"
                    value="{{term or ''}}" autocomplete='off'>
                <input type="submit" value="Search" class="f6 f5-l button-reset br bt bb bl-0 b--black-20 fl pv3 tc bg-animate bg-yellow dim near-black pointer w-100 w-20-m w-20-l br2-ns br--right-ns">
            </div>
            {#
            {% if 'orgtype' in request.query_params.keys() or 'source' in request.query_params.keys() %}
            <div class="w-100">
                <span class="f6 b mr2">Filters: </span>
                {% for r in request.query_params.getlist('orgtype') %}
                <span class="bg-moon-gray b--dark-gray bw1 ba mr2 mb2 dib f6 br-pill pv1 ph2">
                    Type: 
                    {{ org_types.get(r, {}).get('key', r) }}
                </span>
                {% endfor %}
                {% for r in request.query_params.getlist('source') %}
                <span class="bg-moon-gray b--dark-gray bw1 ba mr2 mb2 dib f6 br-pill pv1 ph2">
                    Source: 
                    {{ sources.get(r, {}).get('publisher', {}).get('name', r) }}
                </span>
                {% endfor %}
                <a href="{{ request.url.remove_query_params(['orgtype', 'source']) }}" class="f6 link blue underline">Clear filters</a>
            </div>
            {% endif %} #}
            <div class="mt4">
                {% include 'components/search_results.html.j2' %}
            </div>
        </div>
        <div class="fl w-100 w-30-l pa2">
            <a class="mb3 tr w-100 db b link dark-blue underline-hover" href="{{ download_url }}">Download as CSV</a>
            <label class="mb3 dib lh-title">
                <input type='checkbox' class="mr1" name="inactive" value="include_inactive" />
                Include inactive organisations
            </label>
            <h4 class="ma0 pa0">Related organisation types</h4>
            <ul class="mb4 mt2 list mh0 pa0 lh-title">
            {% for t in aggs.by_orgtype if orgtypes[t.orgtype].is_keytype() %}
                <li class="w-100 f4 mb2">
                    <div class="">
                        <a class="link dark-blue underline-hover mr3" href="{{ url_replace(request, orgtype=t.orgtype) }}">{{ orgtypes[t.orgtype].title }}</a>
                        <span class="mid-gray">{{ "{:,.0f}".format(t.records) }}</span>
                    </div>
                </li>
            {% endfor %}
            {% for t in aggs.by_orgtype if not orgtypes[t.orgtype].is_keytype() %}
                <li class="w-100 f5 mb2">
                    <div class="">
                        <a class="link dark-blue underline-hover mr3" href="{{ url_replace(request, orgtype=t.orgtype) }}">{{ orgtypes[t.orgtype].title }}</a>
                        <span class="mid-gray">{{ "{:,.0f}".format(t.records) }}</span>
                    </div>
                </li>
            {% endfor %}
            </ul>
            <h4 class="ma0 pa0">Data sources</h4>
            <ul class="mb4 mt2 list mh0 pa0">
            {% for t in aggs.by_source %}
                <li class="w-100 f4 mb2">
                    <div class="lh-title">
                        <a class="link dark-blue underline-hover mr3 lh-title" href="{{ url_replace(request, source=t.source) }}">{{ sources[t.source].data.publisher.name }}</a>
                        <span class="mid-gray">{{ "{:,.0f}".format(t.records) }}</span>
                    </div>
                </li>
            {% endfor %}
            </ul>
        </div>
    </form>
</main>
{% endblock %}