# data

data/
*.csv

# test data
!*/tests/data/
!*/tests/data/*.zip
!*/tests/data/*.csv
!*/tests/fixtures/
!*/tests/fixtures/*.zip
!*/tests/fixtures/*.csv

# djangofiles
/static/

# python files
__pycache__/
env/
envd/
scratchpad/
.cache

*.lnk

# include github actions
!.github/initdb/*.sql

\.vscode/
node_modules/

# IDE metadata
.idea/

logs/