# server cron jobs
MAILTO="mail@dokku.me"
PATH=/usr/local/bin:/usr/bin:/bin
SHELL=/bin/bash

# m   h   dom mon dow   username command
# *   *   *   *   *     dokku    command to be executed
# -   -   -   -   -
# |   |   |   |   |
# |   |   |   |   +----- day of week (0 - 6) (Sunday=0)
# |   |   |   +------- month (1 - 12)
# |   |   +--------- day of month (1 - 31)
# |   +----------- hour (0 - 23)
# +----------- min (0 - 59)

### KEEP SORTED IN TIME ORDER
### PLACE ALL CRON TASKS BELOW

# import charities
0 2 * * 5 dokku dokku --rm run ftc python ./manage.py import_charities
0 4 * * 5 dokku dokku --rm run ftc python ./manage.py search_index --rebuild --no-count

# import companies
0 2 * * 6 dokku dokku --rm run ftc python ./manage.py import_companies
0 4 * * 6 dokku dokku --rm run ftc python ./manage.py search_index --rebuild --no-count

# import everything else
0 2 * * 0 dokku dokku --rm run ftc python ./manage.py import_all
0 4 * * 0 dokku dokku --rm run ftc python ./manage.py search_index --rebuild --no-count

### PLACE ALL CRON TASKS ABOVE, DO NOT REMOVE THE WHITESPACE AFTER THIS LINE
