django
django-better-admin-arrayfield
django-cors-headers
django-elasticsearch-dsl
django-environ
django-prettyjson
django-filter
django-markdownx>=4.0.0b1
django-widget-tweaks
dj-database-url
django-ninja>=1.0.0
django-ninja-apikey
django-registration
git+https://github.com/drkane/django-sql-dashboard.git@dk/issue-141
whitenoise
gunicorn
tqdm
openpyxl
pyexcel_ods3
requests
requests_cache
requests_html
validators
humanize
jinja2
python-dotenv
inflect
titlecase
psycopg2
bcp-reader
PyYAML
lxml
pycountry
sentry-sdk
urllib3
pydantic
babel
tweepy
ruff
requests-mock
coverage
django-debug-toolbar
django-enforce-host
ua-parser
sqlite-utils
git+https://github.com/kanedata/charity-django.git@v0.4.1
certifi
xlsxwriter
boto3
jsonschema
pytest
pytest-django