beautifulsoup4==4.5.3
bottle==0.12.13
certifi==2017.7.27.1
chardet==3.0.4
colorama==0.3.9
decorator==4.0.11
elasticsearch==5.3.0
gunicorn==19.7.1
idna==2.6
lxml==4.3.0
MechanicalSoup==0.10.0
py==1.4.34
pytest==3.1.2
python-dateutil==2.6.1
PyYAML==4.2b4
requests==2.21.0
six==1.10.0
titlecase==0.12.0
urllib3==1.24.1
validators==0.11.3
XlsxWriter==1.1.5
