{% extends 'base.html.j2' %}
{% from 'components/org_id.html.j2' import orgid_link %}

{% block title %} | {{ heading }}{% endblock %}

{% block header %}
{% include 'panels/company-header.html.j2' %}
{% endblock %}

{% block bodyscripts %}
{{ super() }}
<script src="{{ static('js/copy-text.js') }}"></script>
{% endblock %}

{% block content %}

{% block organisation_links %}
<div class="w-100 w-80-ns fl">
  {% include 'panels/company-details.html.j2' %}
</div>
{% endblock %}

{% block external_links %}
<div class="w-100 w-20-l fl">
  {% include 'panels/company-external-links.html.j2' %}
</div>
{% endblock %}

{% endblock %}