{% if org.classifications %}
  {% call org_panel("Themes and activities", org) %}
    <p>This organisation has been classified using different categories:</p> 
    {% for vocab, entries in org.classifications.items() %}
    <h4>{{ vocab.title }}</h4>
    {% if vocab.description %}
    <div class="measure-wide">{{ vocab.description|markdown|safe }}</div>
    {% endif %}
    <ul class="">
    {% for entry in entries|sort(attribute="vocabulary.ancestor_codes") %}
      <li class="mb2">
        {% for a in entry.vocabulary.ancestors %}
        {% if loop.first %}<strong>{{a.title}}</strong>
        {% else %}{{ a.title }}
        {% endif %}
        {% if a.code and a.code|length < 10 and (a.code != a.title|slugify) %}<code>{{ a.code }}</code>{% endif %} &raquo;
        {% endfor %}
        {{ entry.vocabulary.title }} 
        {% if entry.vocabulary.code and entry.vocabulary.code|length < 10 and (entry.vocabulary.code != entry.vocabulary.title|slugify) %}<code>{{ entry.vocabulary.code }}</code>{% endif %}
      </li>
    {% endfor %}
    </ul>
    {% endfor %}
  {% endcall %}
{% endif %}