{% if org.classifications %}
  {% call org_panel("Classification", org) %}
    {% for vocab, entries in org.classifications.items() %}
    <h4>{{ vocab.title }}</h4>
    <ul>
      {% for entry in entries %}
        <li>{{ entry.vocabulary.title }} <code>{{ entry.vocabulary.code }}</code></li>
      {% endfor %}
    </ul>
    {% endfor %}
  {% endcall %}
{% endif %}