{% if cqc %}
  {% call org_panel("Services regulated by the Care Quality Commission", org) %}
    {% for cqc_provider in cqc %}
      <p>Registered as a provider with the <a href="https://www.cqc.org.uk/" class="link underline blue">Care Quality Commission<span class="material-icons ml1" title="Opens in a new window">launch</span></a>
      (id: <code>{{ cqc_provider.id }}</code>)</p>
      <p><a href="https://www.cqc.org.uk/provider/{{ cqc_provider.id }}" class="link underline blue b">
      <abbr title="Care Quality Commission">CQC</abbr> Provider: {{ cqc_provider.name }}<span class="material-icons ml1" title="Opens in a new window">launch</span></a></p>
      <p>Services:</p>
      <ul>
        {% for location in cqc_provider.locations.all() %}
        <li>
          <a href="https://www.cqc.org.uk/location/{{location.id}}" class="link underline blue">{{location.name}}<span class="material-icons ml1" title="Opens in a new window">launch</span></a>
          ({{ location.inspection_category }} in {{location.address_city}})
          {% if not location.status == 'Active' %}
          <span class="normal red">{{ location.status }}</span>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    {% endfor %}
    <p class="i">Data from the 
      <a href="https://www.cqc.org.uk/about-us/transparency/using-cqc-data" class="link underline blue">Care Quality Commission data download<span class="material-icons ml1" title="Opens in a new window">launch</span></a>
      </p>
  {% endcall %}
  {% endif %}