<div class="mv3 measure f5">
    {% if 'registered-charity' not in related_orgs.organisationType %}
    <div class="f6 mt4 br2 h-100 pa2 bg-washed-red tl">
        <p class="mt0">Find that Charity displays records of not for profit organisations that use other legal forms, as
            well
            as registered charities.</p>
        <p class="mv0">According to information from the available data sources, this organisation is not
            registered as a charity.</p>
    </div>
    {% endif %}
    <p>
        This organisation record is based on data from <a href="#data-source-{{ org.source.id }}"
            class="link underline-hover blue b">{{ org.source.title }}</a> published by {{ org.source.publisher }}.
    </p>
</div>

{% set links = org.get_links()|list %}
{% set wikidata_links = org.wikidata_links()|list %}
{% set wikidata_id = org.wikidata_id %}
{% if links or wikidata_links %}
<article class="message is-info">
    <h4 class="ma0 pa0">More about this organisation</h4>
    <p class="f6 gray">Find that Charity is not responsible for the content of external websites</p>
    <div class="message-body">
        <ul class="mb4 mt2 list mh0 pa0 f5">
            {% for link in links %}
            <li class="w-100 mb2">
                {% if link[0].startswith("POST:") %}
                <form method="POST" action="{{ link[0][5:] }}" target="_blank">
                    <button type="submit" class="link dark-blue underline di bn pointer bg-transparent pa0 ma0">
                        {{ link[1] }}<span class="material-icons ml1" title="Opens in a new window">launch</span>
                    </button>
                </form>
                {% else %}
                <a class="link dark-blue underline" href="{{ link[0] }}" target="_blank">
                    {{ link[1] }}<span class="material-icons ml1" title="Opens in a new window">launch</span>
                </a>
                {% endif %}
            </li>
            {% endfor %}
            {% for link in wikidata_links %}
            <li class="w-100 mb2">
                <a class="link dark-blue underline" href="{{ link[0] }}" target="_blank">
                    {{ link[1] }}<span class="material-icons ml1" title="Opens in a new window">launch</span>
                </a>
            </li>
            {% endfor %}
        </ul>
        {% if wikidata_id %}
        <p class="f6 gray">Social media and Wikipedia links from Wikidata</p>
        <a class="link dark-blue underline db" href="{{ wikidata_id }}" target="_blank">
            <img src="{{ static('images/Wikidata_Stamp_Rec_Light.svg') }}" alt="Wikidata logo" class="db mb2 mw4" />
        </a>
        {% endif %}
    </div>
</article>
{% endif %}