{% macro truncate_records(records, truncate_after=9) %}
<div class="w-100 flex flex-wrap">
  {% for record in records[:truncate_after] if record.org_id != org.org_id %}
  <div class="w-third-l w-50-m w-100 f5 pr3 pb3">
    {{ org_record(record, {}, request, small=true) }}
  </div>
  {% endfor %}
</div>
{% if records|length > truncate_after %}
<details class="w-100 db">
  <summary class="w-100 pointer">Show {{ "more record"|pluralise(records|length - truncate_after) }}</summary>
  <div class="w-100 flex flex-wrap">
    {% for record in records[truncate_after:] if record.org_id != org.org_id %}
    <div class="w-third-l w-50-m w-100 f5 pr3 pb3">
      {{ org_record(record, {}, request, small=true) }}
    </div>
    {% endfor %}
  </div>
</details>
{% endif %}
{% endmacro %}


{% if related_orgs.records|length > 1 or related_orgs.parents.exists() or related_orgs.children.exists() %}
{% call org_panel("Linked records", org) %}

{% if related_orgs.records|length > 1 %}
{% include 'panels/linked-records-summary.html.j2' %}
<div class="w-100 flex flex-wrap">
  <div class="w-third-l w-50-m w-100 f5 pr3 pb3">
    {{ org_record(org, {}, request, small=true, this_record=true) }}
  </div>
  {% if related_orgs.activeRecords %}
  {% for record in related_orgs.activeRecords if record.org_id != org.org_id %}
  <div class="w-third-l w-50-m w-100 f5 pr3 pb3">
    {{ org_record(record, {}, request, small=true) }}
  </div>
  {% endfor %}
  {% endif %}
</div>

{% if related_orgs.inactiveRecords %}
{{ truncate_records(related_orgs.inactiveRecords) }}
{% endif %}

{% endif %}

{% if related_orgs.parents.exists() %}
<h4>{{ 'Parent organisation'|pluralise(related_orgs.parents.count()) }}</h4>
{{ truncate_records(related_orgs.parents.all()) }}
{% endif %}

{% if related_orgs.children.exists() %}
<h4>{{ 'Subsidiary / Child organisation'|pluralise(related_orgs.children.count()) }}</h4>
{{ truncate_records(related_orgs.children.all()) }}
{% endif %}

{% endcall %}
{% endif %}