{% if org.locations.exists() or org.postalCode %}
{% call org_panel("Locations", org) %}
<div class="w-100 w-30-l fl">
    <div id="locationmap" class="h5"></div>
</div>
<div class="w-100 w-70-l fl ph3 measure">
    <p class="f6 gray">Depending on the data source, location may describe the headquarters of the organisation rather than the area it operates in.</p>
    {% if org.postalCode %}
    <div class="mv3">
        <h5 class="ma0 pa0">Postcode</h5>
        <p class="f6 ma0 pa0">
        {{ org.postalCode }}
        </p>
    </div>
    {% endif %}
    {% if org.locations.exists() %}
    <div class="mv3">
        <h5 class="ma0 pa0">Locations</h5>
        {% for country, areas in org.locations_group().items() %}
            <ul class="mv0 list mh0 pa0 f6">
            {% if country != "GB" %}
                <li><strong>{{ country }}</strong></li>
            {% else %}
                {% for l, types in areas.items() %}
                    {% if l and l|regex_search("[ENWSK][0-9]{8}") %}
                    <li class="w-100 mb2">
                        <a class="link dark-blue underline-hover" href="https://findthatpostcode.uk/areas/{{ l }}.html" target="_blank">
                            {{ l|get_geoname }}
                        </a>: {{ types|list_to_string }}
                    </li>
                    {% else %}
                    <li class="w-100 mb2">
                        {{ l|get_geoname }} (<code>{{ l }}</code>)
                    </li>
                    {% endif %}
                {% endfor %}
            {% endif %}
            </ul>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endcall %}
{% endif %}