<header
  class="fl w-100 ph3 ph5-ns pt4 entry-content lh-copy f4 {% if not org.active %}dark-gray bg-washed-yellow{% endif %}">
  <div class="w-100 w-80-ns fl">
    <span class="f5 gray">Organisation record</span>
    <h2 class="f1-ns mt0 mb0 f2 lh-title normal w-100 w-50-l">
      {{ org.name|titlecase }}
    </h2>
    <h3 class="f3-ns mb4 mt4 f4 lh-subtitle normal">
      {% if not org.active %}
      An <span class="normal red">inactive</span>
      {% else %}
      {{ org.organisationTypePrimary.title|a_or_an|title }}
      {% endif %}
      {{ orgtype_link(org.organisationTypePrimary, large=true) }}based in
      {% if org.hq.geo_ctry -%}
      {{ org.hq.geo_ctry|get_geoname -}}
      {% else -%}
      the UK
      {% endif -%}
      {%- if org.dateRemoved %}. Removed on {{ "{:%d %B %Y}".format(org.dateRemoved) }}.{% endif %}
    </h3>

    <div class="mv3 w-100 w-50-l">
      {% if org.active %}
      <span class="pv1 ph2 br2 bg-green white dib mr2 mb2">Active</span>
      {% else %}
      <span class="pv1 ph2 br2 bg-dark-red white dib mr2 mb2">Inactive</span>
      {% endif %}
      {% for ot in org.organisationType if ot != org.organisationTypePrimary.slug %}
      {{ orgtype_link(orgtypes[ot], large=true) }}
      {% endfor %}
    </div>
  </div>

  <div class="w-100 w-20-l fl">
    <div class="cf mv3 w-100 tr">
      {% include 'starred/status.html.j2' %}
      <p class="mv3">
        <a href="{{ url('orgid_json', kwargs={'org_id': org.org_id}) }}"
          class="link dib bg-dark-green white code underline-hover normal f6 pv0 ph1 br1">Access this data in JSON
          format</a>
      </p>
      <div class="mb1">{{ orgid_link(org.org_id, true, copy=true) }}</div>
      {% if 'GB-CASC-' in org.org_id %}
      <div class="f6 mt4 br2 h-100 pa2 bg-washed-red tl">
        <p class="mv0">Official registration numbers for CASCs are not published by HMRC. The number shown here is a
          placeholder.</p>
      </div>
      {% endif %}
      {% if org.orgIDs and org.orgIDs|length > 1 %}
      <div class="mb1">
        {% for v in org.orgIDs if v != org.org_id %}
        {{ orgid_link(v, copy=true) }}
        {% endfor %}
      </div>
      {% endif %}
      {% if 'registered-charity' not in related_orgs.organisationType %}
      <div class="f6 mt4 br2 h-100 pa2 bg-washed-red tl">
        <p class="mt0">Find that Charity displays records of not for profit organisations that use other legal forms, as
          well
          as registered charities.</p>
        <p class="mv0">According to information from the available data sources, this organisation is not
          registered as a charity.</p>
      </div>
      {% endif %}
    </div>
  </div>
</header>