% rebase('base.html', title="About | Find that charity", heading="About" )
<div class="columns">
  <div class="column is-three-quarters">
    <div class="content">
      <p>
        The site is a tool for finding charities by name. It brings together data from 
        <a href="#data-sources">a number of sources</a> to include a record for every 
        charity.
      </p>
      <p>
        The site was initially put together by <a href="https://twitter.com/kanedr">David Kane</a>.
        Huge thanks to other contributors, particularly <a href="">Bob Harper</a> who implemented
        the Northern Ireland charity data.
      </p>
      <p>
        The data is used directly from regulatory sources. Any corrections needed to the
        data should be directed to the regulators themselves, using the links below.
      </p>
      <h2>Using the data</h2>
      <p>
        As well as a search engine, you can also as an
        <a href="https://github.com/OpenRefine/OpenRefine/wiki/Reconciliation">OpenRefine reconciliation service</a>.
        Access this using <a href="/reconcile"><code>/reconcile</code></a> endpoint.
      </p>
      <p>
        You can access data about any charity in json format by adding <code>.json</code> to the end of the URL.
      </p>
      <p>
        Find a <a href="/random">random charity record</a>. Or add <a href="/random?active=true"><code>?active=true</code></a>
        to the end to restrict the random search to only active charities. This powers the 
        <a href="https://twitter.com/CharityRandom">@CharityRandom</a> twitter feed.
      </p>
      <h2 id="data-sources">Data sources</h2>
      <p>Uses data from the following sources:</p>
      <ul>
        <li>
          <strong><a href="http://data.charitycommission.gov.uk/" target="_blank">Charity Commission for England and Wales</a></strong>
          - data used under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/">Open Government Licence v3.0</a>.
        </li>
        <li>
          <strong><a href="https://www.oscr.org.uk/charities/search-scottish-charity-register/charity-register-download" target="_blank">Office of the Scottish Charity Regulator</a></strong>
          - data used under the <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/2/">Open Government Licence v2.0</a>.<br>
           © Crown Copyright and database right {{ this_year }}. Contains information from the Scottish Charity Register supplied by the Office
          of the Scottish Charity Regulator and licensed under the Open Government Licence v.2.0.
        </li>
        <li>
          <strong><a href="http://www.charitycommissionni.org.uk/charity-search/" target="_blank">Charity Commission for Northern Ireland</a></strong>
        </li>
      </ul>
      <p>
        The detection of <a href="https://gist.github.com/drkane/22d62e07346084fafdcc7d9f5e1cd661" target="_blank">duplicate charities</a> is based on a list maintained on github.
        Any additional records can be submitted as comments to the github page.
      </p>
      <p>
        A list of <a href="https://gist.github.com/BobHarper1/2687545c562b47bc755aef2e9e0de537" target="_blank">additional names for 
        Northern Irish charities</a> is also maintained on Github.
      </p>
      <h2>Other acknowledgements</h2>
      <ul>
        <li><a href="https://github.com/edent/SuperTinyIcons/" target="_blank">Github icon from @edent's SuperTinyIcons</a></li>
        <li>Styles from <a href="https://bulma.io/" target="_blank">Bulma</a></li>
        <li>Powered by
          <a href="https://www.python.org/" target="_blank">Python</a>, 
          <a href="http://bottlepy.org/docs/dev/" target="_blank">Bottle</a> and 
          <a href="https://www.elastic.co/products/elasticsearch" target="_blank">Elasticsearch</a>.
        </li>
      </ul>
      <h2 id="privacy">Privacy</h2>
      <p>
        The site uses Google Analytics to help us see how much the site is used. No other cookies or 
        personal data about site users is collected.
      </p>
    </div>
  </div>
</div>
