% rebase('base.html', title=charity["known_as"], subtitle="Charity number: {}".format(charity_id) )
% sources = {"ccew": "Charity Commission for England and Wales", "oscr": "Office of Scottish Charity Regulator"}
<div class="columns">
  <div class="column">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">Alternative names</p>
      </header>
      <div class="card-content">
        <div class="content">
          <table class="table">
            <tbody>
              <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Source</th>
              </tr>
              % for name in charity["names"]:
              <tr>
                <td>{{ name["name"] }}</td>
                <td>{{ name["type"] }}</td>
                <td>{{ sources.get(name["source"], name["source"]) }}</td>
              </tr>
              % end
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <br>
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">Company details</p>
      </header>
      <div class="card-content">
        <div class="content">
          <table class="table">
            <tbody>
              % for co in charity["company_number"]:
              <tr>
                <td>{{ co["number"] }} <i>(Source: {{ sources.get(co["source"], co["source"])}})</i></td>
              </tr>
              % end
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">Registration details</p>
      </header>
      <div class="card-content">
        <div class="content">
          <table class="table">
            <tbody>
              <tr><th>CCEW Charity number</th><td><a href={{ charity["ccew_link"]}}>{{ charity["ccew_number"] }}</a></td></tr>
              <tr><th>OSCR Charity number</th><td><a href={{ charity["oscr_link"]}}>{{ charity["oscr_number"] }}</a></td></tr>
              <tr><th>CCNI Charity number</th><td><a href={{ charity["ccni_link"]}}>{{ charity["ccni_number"] }}</a></td></tr>
              <tr><th>Active</th><td>{{ charity["active"] }}</td></tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <br>
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">Other details</p>
      </header>
      <div class="card-content">
        <div class="content">
          <table class="table">
            <tbody>
              <tr><th>Website</th><td><a href="{{ charity["url"] }}">{{ charity["url"] }}</a></td></tr>
              <tr><th>Domain</th><td><code>{{ charity["domain"] }}</code></td></tr>
              <tr><th>Latest income</th><td>&pound;{{ "{:,.0f}".format(charity["latest_income"])}}</td></tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <br>
    % if charity["geo"]["location"] is not None:
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">Location</p>
      </header>
      <div class="card-content">
        <div class="content">
          <table class="table">
            <tbody>
              % if charity.get("geo", {}).get("location"):
              <tr>
                <th>Latitude/longitude</th>
                <td>
                  <a href="{{ charity.get("url") }}">
                     {{ charity.get("geo", {}).get("location",{}).get("lat") }},
                     {{ charity.get("geo", {}).get("location",{}).get("lon") }}
                  </a>
                </td>
              </tr>
              % end
              <!--<tr><th>Local Authority</th><td>{{ charity.get("geo", {}).get("areas",[]) }}</td></tr>-->
              <tr><th>Postcode</th><td>{{ charity.get("geo", {}).get("postcode") }}</td></tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    % end
  </div>
</div>
