% rebase('base.html', title=charity["known_as"], subtitle="Charity number: {}".format(charity_id), status=charity["active"] )
% sources = {"ccew": "Charity Commission for England and Wales", "oscr": "Office of Scottish Charity Regulator", "ccni": "Charity Commission for Northern Ireland"}
<div class="columns">
  <div class="column">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">Alternative names</p>
      </header>
      <div class="card-content">
        <div class="content">
          <table class="table">
            <tbody>
              <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Source</th>
              </tr>
              % for name in charity["names"]:
              <tr>
                <td>{{ name["name"] }}</td>
                <td>{{ name["type"] }}</td>
                <td>{{ sources.get(name["source"], name["source"]) }}</td>
              </tr>
              % end
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <br>
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">Company details</p>
      </header>
      <div class="card-content">
        <div class="content">
          <table class="table">
            <tbody>
              % for co in charity["company_number"]:
              <tr>
                <td>
                  <a href="https://beta.companieshouse.gov.uk/company/{{ co["number"] }}" target="_blank">
                    {{ co["number"] }}
                  </a>
                  <i>(Source: {{ sources.get(co["source"], co["source"])}})</i>
                </td>
              </tr>
              % end
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <br>
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">Links</p>
      </header>
      <div class="card-content">
        <div class="content">
          <ul>
            % if charity.get("url"):
            <li><a href="{{ charity["url"] }}" target="_blank">Charity website</a></li>
            % end
            % if charity["ccew_number"]:
            <li><a href="http://apps.charitycommission.gov.uk/Showcharity/RegisterOfCharities/SearchResultHandler.aspx?RegisteredCharityNumber={{charity["ccew_number"]}}&SubsidiaryNumber=0&Ref=CO" target="_blank">Charity Commission England and Wales</a></li>
            <li><a href="http://beta.charitycommission.gov.uk/charity-details/?regid={{charity["ccew_number"]}}&subid=0" target="_blank">Charity Commission England and Wales (beta)</a></li>
            <li><a href="https://charitybase.uk/api/v0.2.0/charities?subNumber=0&charityNumber={{charity["ccew_number"]}}" target="_blank">CharityBase [JSON]</a></li>
            <li><a href="http://opencharities.org/charities/{{charity["ccew_number"]}}" target="_blank">OpenCharities</a></li>
            <li><a href="http://www.guidestar.org.uk/summary.aspx?CCReg={{charity["ccew_number"]}}" target="_blank">GuideStar</a></li>
            <li><a href="http://www.charitychoice.co.uk/charities/search?t=qsearch&q={{charity["ccew_number"]}}" target="_blank">Charities Direct</a></li>
            % end
            % if charity["ccni_number"]:
            <li><a href="http://www.charitycommissionni.org.uk/charity-details/?regid={{charity["ccni_number"].replace("NIC", "")}}&subid=0" target="_blank">Charity Commission Northern Ireland</a></li>
            % end
            % if charity["oscr_number"]:
            <li><a href="http://www.oscr.org.uk/charities/search-scottish-charity-register/charity-details?number={{charity["oscr_number"]}}" target="_blank">Office of the Scottish Charity Register</a></li>
            % end
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">Registration details</p>
      </header>
      <div class="card-content">
        <div class="content">
          <table class="table">
            <tbody>
              <tr>
                <th>CCEW Charity number</th>
                <td>
                  % if charity["ccew_number"]:
                  <a href={{ charity["ccew_link"]}}>{{ charity["ccew_number"] }}</a>
                  % else:
                  None
                  % end
                </td>
              </tr>
              <tr>
                <th>OSCR Charity number</th>
                <td>
                  % if charity["oscr_number"]:
                  <a href={{ charity["oscr_link"]}}>{{ charity["oscr_number"] }}</a>
                  % else:
                  None
                  % end
                </td>
              </tr>
              <tr>
                <th>CCNI Charity number</th>
                <td>
                  % if charity["ccni_number"]:
                  <a href={{ charity["ccni_link"]}}>{{ charity["ccni_number"] }}</a>
                  % else:
                  None
                  % end
                </td>
              </tr>
              <tr><th>Active</th><td>{{ charity["active"] }}</td></tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <br>
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">Other details</p>
      </header>
      <div class="card-content">
        <div class="content">
          <table class="table">
            <tbody>
              <tr>
                <th>Website</th>
                <td><a href="{{ charity["url"] }}">{{ charity["url"] }}</a></td>
              </tr>
              <tr>
                <th>Domain</th>
                <td><code>{{ charity["domain"] }}</code></td>
              </tr>
              <tr>
                <th>Latest income</th>
                <td>
                % if charity["latest_income"]:
                  &pound;{{ "{:,.0f}".format(charity["latest_income"])}}
                % else:
                  <code>None</code>
                % end
                </td>
              </tr>
              <tr>
                <th>Org-ids<br /><a href="http://org-id.guide/about" target="_blank" class="has-text-weight-light">What is org-id?</a></th>
                <td>
                  % if charity.get("org-ids"):
                    % for orgid in charity["org-ids"]:
                        {{ orgid }}<br />
                    % end
                  % else:
                    <code>None</code>
                  % end
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <br>
    % if charity["geo"]["location"] is not None:
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">Location</p>
      </header>
      <div class="card-content">
        <div class="content">
          <table class="table">
            <tbody>
              % if charity.get("geo", {}).get("location"):
              <tr>
                <th>Latitude/longitude</th>
                <td>
                  <a href="#">
                     {{ charity.get("geo", {}).get("location",{}).get("lat") }},
                     {{ charity.get("geo", {}).get("location",{}).get("lon") }}
                  </a>
                </td>
              </tr>
              % end
              <!--<tr><th>Local Authority</th><td>{{ charity.get("geo", {}).get("areas",[]) }}</td></tr>-->
              <tr><th>Postcode</th><td>{{ charity.get("geo", {}).get("postcode") }}</td></tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    % end
  </div>
</div>
