% rebase('base.html', title="{} | Find that charity".format(file["name"]), heading=file["name"], subtitle="Select charity name field" )
<div class="columns">
  <div class="column">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li class="">
          <a href="/adddata">Add data</a>
        </li>
        <li class="is-active">
          <a href="/adddata/{{fileid}}">Find charity name</a>
        </li>
      </ul>
    </nav>
    <div class="content">
      <form method="post">
        <p>
          {{len(file["data"])}} rows in the file.
          % if len(file["data"]) > 10:
          Showing first 10 rows.
          % end
        </p>
        <label class="label">Select the column that contains the name of a charity</label>
        <table>
          <tr>
          % for h in file["fields"]:
            <th>
              <label>
                % checked = "checked" if h == file.get("reconcile_field") else ""
                <input type="radio" name="reconcile_field" value="{{h}}" {{checked}} /> 
                {{h}}
              </label>
            </th>
          % end
          </tr>
        % for k, r in enumerate(file["data"][0:10]): 
          <tr>
          % for c in file["fields"]:
            <td>{{r[c]}}</td>
          % end
          </tr>
        % end
        % if len(file["data"]) > 10:
          <tr>
            <td colspan="{{len(file["fields"])}}">
              {{ len(file["data"]) - 10}} more rows...
            </td>
          </tr>
        % end
        </table>
        <div class="control">
          <input type="submit" value="Add charity numbers to the data" class="button is-link" />
        </div>
      </form>
    </div>
  </div>
</div>
