% rebase('base.html', title="Upload a CSV | Find that charity", heading="Upload a CSV", subtitle="Use this form to add charity data to a CSV file" )
% include('csv_steps.html', step=1)
<div class="columns">
  <div class="column is-two-thirds">
    <div class="content">
      <form action="/adddata" method="post" enctype="multipart/form-data">
        <div class="field">
          <label class="label">CSV File</label>
          <div class="control">
            <div class="file has-name is-fullwidth">
              <label class="file-label">
                <input class="file-input" type="file" name="uploadcsv" id="uploadcsv" accept=".csv,text/csv" />
                <span class="file-cta">
                  <span class="file-label">
                    Upload file…
                  </span>
                </span>
                <span class="file-name is-invisible" id="uploadcsv-filename"></span>
              </label>
            </div>
          </div>
          <p class="help">Must be a valid CSV file. No more than {{csv_max_rows}} rows.</p>
        </div>
        <label class="label">Choose the next step</label>
        <div class="field is-grouped">
          <div class="control">
            <input type="submit" value="I need to add charity numbers" class="button is-link" />
            <p class="help">You'll need to select a column<br>containing the charity name</p>
          </div>
          <div class="control">
            <input type="submit" value="My data has charity numbers" class="button is-link" />
          </div>
        </div>
        <label class="label">
          <a href="#" id="toggle-advanced-options">
            Advanced options
            <span class="toggle-advanced-options-indicator">&gt;</span>
            <span class="toggle-advanced-options-indicator is-hidden">&lt;</span>
          </a>
        </label>
        <div id="advanced-options" class="is-invisible">
        % for o in csv_options:
        <div class="field is-horizontal">
          <div class="field-label is-small">
            <label class="label">{{csv_options[o][0]}}</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <div class="select is-small">
                  <select name="{{o}}">
                    % for value in csv_options[o][1]:
                    <option value="{{value}}">{{csv_options[o][1][value]}}</option>
                    % end
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        % end
        </div>
      </form>
    </div>
  </div>
  <div class="column">
    <div class="content">
      % if error:
      <div class="notification is-danger">
        <button class="delete"></button>
        <strong>Error:</strong> {{error}}
      </div>
      % end
      <p>Use this form to upload a CSV containing data about charities.
        You can use the tool to add charity numbers if you don't already 
        have them, and also add data about that charity.
      </p>
      <p>
        Data files uploaded using this tool will be kept for seven days then deleted. 
        You can use the download feature to download your amended data.
      </p>
      <article class="message is-warning">
        <div class="message-header">
           Important Note
        </div>
        <div class="message-body">
          Do not upload confidential or personal data using this form. You are responsible for the content of any files you upload
          to this tool, and any files found to contain personal or confidential data will be deleted.
        </div>
      </article>
      <p><strong></strong> 
      </p>
    </div>
  </div>
</div>
<script>
  var file = document.getElementById("uploadcsv");
  file.onchange = function(){
      if(file.files.length > 0){
        document.getElementById('uploadcsv-filename').innerHTML = file.files[0].name;
        document.getElementById('uploadcsv-filename').classList.remove("is-invisible")
      }
  };
  var toggleadopt = document.getElementById("toggle-advanced-options");
  toggleadopt.onclick = function(e){
    e.preventDefault();
    document.getElementById("advanced-options").classList.toggle("is-invisible");
    var toggles = document.getElementsByClassName("toggle-advanced-options-indicator");
    for(var item in toggles){
      console.log(item);
      toggles[item].classList.toggle("is-hidden");
    }
  }
</script>