% rebase('base.html', title="{} | Find that charity".format(file["name"]), heading=file["name"], subtitle="Reconciling on {}".format(file["reconcile_field"]) )
<div class="columns">
  <div class="column">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li class="">
          <a href="/adddata">Add data</a>
        </li>
        <li class="">
          <a href="/adddata/{{fileid}}">Find charity name</a>
        </li>
        <li class="is-active">
          <a href="/adddata/{{fileid}}/reconcile">Identify charities</a>
        </li>
      </ul>
    </nav>
    <div class="content">
      <form method="post">
        <p>Options needed</p>
        <ul>
          <li>Autoclassify based on score</li>
          <li>Pagination</li>
          <li>Preview</li>
          <li>Search for alternative (typeahead-style)</li>
          <li>Download results</li>
          <li>Change order (hardest ones first?)</li>
        </ul>
        <p>Options for each reconciliation block.</p>
        <ul>
          <li>Confirmed result: 
            <ul>
              <li>Option to reset to unconfirmed</li>
            </ul>
          </li>
          <li>
            Result matched:
            <ul>
              <li>Global confirm all matched results</li>
              <li>Option to confirm match</li>
              <li>Option to reset to unconfirmed</li>
            </ul>
          </li>
          <li>
            No matched results:
            <ul>
              <li>Global confirm the best match in all cases (or use filter/threshold)</li>
              <li>Select from list (change to confirmed match)</li>
              <li>Search for an alternative match with textbox (and change to confirmed match if found)</li>
              <li>Preview more info about the charity</li>
            </ul>
          </li>
        </ul>
        <p>
          {{len(file["data"])}} rows in the file.
        </p>
        <table class="table is-striped is-narrow">
          <tr>
          % for h in file["fields"]:
            <th>
              {{h}}
            </th>
            % if "reconcile_results" in file and h == file["reconcile_field"]:
            <th>
              Select charity
            </th>
            % end
          % end
          </tr>
        % for k, r in enumerate(file["data"]): 
          <tr>
          % for c in file["fields"]:
            <td>{{r[c]}}</td>
            % if c == file["reconcile_field"]:
            % results = file["reconcile_results"][r[file["reconcile_field"]]]["result"]
            <td class="">
              % hide_results = "hide" if results[0]["match"] else ""
              <div class="{{hide_results}}">
              % for result in file["reconcile_results"][r[file["reconcile_field"]]]["result"]:
                <label class="is-size-6">
                  <input type="radio" name="reconcile_choice_{{k}}" value="{{result["id"]}}">
                    % if not result["source"]["active"]:
                    <span class="has-text-grey">INACTIVE: {{result["source"]["known_as"]}}</span>
                    % else:
                    {{result["source"]["known_as"]}} 
                    % end
                    (<a href="/charity/{{result["id"]}}" target="_blank">{{result["id"]}}</a>)
                  <span class="has-text-grey is-size-7">[{{result["score"]}}]</span>
                </label>
                <br>
              % end
              </div>
            </td>
            % end
          % end
          </tr>
        % end
        </table>
        <div class="control">
          <input type="submit" value="Add charity numbers to the data" class="button is-link" />
        </div>
      </form>
    </div>
  </div>
</div>
