<%
    steps = [
        ("Upload a CSV.",),
        ("Find charity name field.",),
        ("Add charity numbers.",),
        ("Add charity details.",),
        ("Download data.",),
    ]
%>
<div class="steps">
    <% 
      for i, s in enumerate(steps):
        css_classes = []
        if i+1 == step:
            css_classes.append("is-active")
        elif i+1 < step:
            css_classes.append("is-completed")
            css_classes.append("is-success")
        end
    %>
    <div class="step-item {{" ".join(css_classes)}}">
        <div class="step-marker">
            % if i+1 < step:
            <span class="icon">
                <i class="fa fa-check"></i>
            </span>
            % end
        </div>
        <div class="step-details">
            <p class="step-title">Step {{i+1}}</p>
            <p>{{s[0]}}</p>
        </div>
    </div>
    % end
</div>