% rebase('base.html', title="Find that charity" )
<div class="columns">
  <div class="column">
    <div class="content is-large">
      <p>A search engine for UK charities.</p>
    </div>
    <div  style="padding-top: 30px; padding-bottom: 160px;">
      % include('search_form.html', term=term)
    </div>

    % if defined('res'):
      % include('search_results.html', res=res, term=term)
    % end

    <div class="content is-medium">
      <p>Other ways to use:</pr>
      <ul>
        <li>Find details for an individual charity via <code>/charity/1234567</code>. Examples:
          <ul>
            <li>Charity registered in England and Wales: <a href="/charity/225922">225922</a></li>
            <li>Charity registered in Scotland: <a href="/charity/SC003558">SC003558</a></li>
            <li>Charity registered in Northern Ireland: <a href="/charity/NIC100012">NIC100012</a></li>
          </ul>
          These can also be accessed as json data by adding <code>.json</code> to the end of the url
        </li>
        <li>As an <a href="https://github.com/OpenRefine/OpenRefine/wiki/Reconciliation">OpenRefine reconciliation service</a> via <code>/reconcile</code>.</li>
        <li>Find a <a href="/random?active=true">random charity</a>.</li>
      </ul>
    </div>
  </div>
</div>
