<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.3/css/bulma.min.css" integrity="sha256-VC9bpAao257nf22leBRLU7AqKGwS9/Ylz8hfpHmOob4=" crossorigin="anonymous" />
</head>
  <body>
    <div class="content">
      <h3>
        {{ charity["known_as"] }}
      </h3>
      <a href='http://localhost:8080/charity/{{ charity_id }}' target="_blank">View full profile</a>
      <h5><strong>Active:</strong>
        {{ charity["active"] }}
      </h5>
      <h5><strong>Charity Numbers</strong></h5>
      <table class="table">
        <tbody>
          <tr>
            <th>CCEW Charity number</th>
            <td>
              % if charity["ccew_number"]:
              <a href={{ charity["ccew_link"]}}>{{ charity["ccew_number"] }}</a>
              % else:
              None
              % end
            </td>
          </tr>
          <tr>
            <th>OSCR Charity number</th>
            <td>
              % if charity["oscr_number"]:
              <a href={{ charity["oscr_link"]}}>{{ charity["oscr_number"] }}</a>
              % else:
              None
              % end
            </td>
          </tr>
          <tr>
            <th>CCNI Charity number</th>
            <td>
              % if charity["ccni_number"]:
              <a href={{ charity["ccni_link"]}}>{{ charity["ccni_number"] }}</a>
              % else:
              None
              % end
            </td>
          </tr>
        </tbody>
      </table>
      <h5><strong>Company No(s):</strong>
        % if charity["company_number"]:
          % for co in charity["company_number"]:
            {{ co["number"] }} ({{co["source"]}})
          % end
        % end
      </h5>
      <h5><strong>Postcode:</strong>
        {{ charity["geo"]["postcode"] }}
      </h5>
      <h5><strong>Other Names:</strong>
        % for name in charity["names"]:
          {{ name["name"] }} ({{name["type"]}}, {{name["source"]}})
        % end
      </h5>
    </div>
  </body>
</html>
