% rebase('base.html', title="Uploaded Files | Find that charity", heading="Uploaded Files")
<div class="columns">
  <div class="column">
    <div class="content">
        <p>{{len(files)}} files stored</p>
        <table class="table is-narrow is-size-6">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Date uploaded</th>
                    <th>Name</th>
                    <th>Encoding</th>
                    <th>Rows</th>
                    <th>Columns</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                % for i in files:
                <tr>
                    <td>{{i["_id"]}}</td>
                    <td>
                        % date_uploaded = i["_source"].get("uploaded")
                        % if date_uploaded:
                            % import dateutil.parser
                            % date_uploaded = dateutil.parser.parse(date_uploaded)
                            {{ date_uploaded.strftime("%Y-%m-%d %H:%M:%S")}}
                        % else:
                        Unknown
                        % end
                    </td>
                    <td>
                        <a href="/uploadcsv/{{i["_id"]}}">{{i["_source"]["name"]}}</a>
                    </td>
                    <td>{{i["_source"].get("file_encoding")}}</td>
                    <td>{{len(i["_source"].get("data", []))}}</td>
                    <td>
                        % if i["_source"].get("fields", []):
                        {{len(i["_source"].get("fields", []))}}
                        % end
                    </td>
                    <td>
                        <a class="button is-small is-warning" href="/uploadcsv/{{i["_id"]}}/reset">Reset</a>
                        <a class="button is-small is-danger" href="/uploadcsv/{{i["_id"]}}/delete">Delete</a>
                    </td>
                </tr>
                % end
            </tbody>
        </table>
    </div>
  </div>
</div>