{% extends 'orgid.html.j2' %}

{% set partb_tables = {
    "Income": {
        "inc_leg": "Legacies",
        "inc_end": "Endowment",
        "inc_vol": "Voluntary income",
        "inc_fr": "Fundraised income",
        "inc_char": "Income from charitable Activities",
        "inc_invest": "Investment income",
        "inc_other": "Other income",
        "inc_total": "Total income",
    },
    "Spending": {
        "exp_vol": "Voluntary income costs",
        "exp_trade": "Fundraising Trading costs",
        "exp_gen": "Cost of generating funds",
        "exp_invest": "Investment Management costs",
        "exp_grant": "Grants to institutions",
        "exp_charble": "Charitable Activities costs",
        "exp_gov": "Governance costs",
        "exp_other": "Other resources expended",
        "exp_total": "Total Resources expended",
    },
    "Other expenditure": {
        "exp_support": "Support costs",
        "exp_dep": "Depreciation",
        "exp_total": "Total Resources expended",
    },
    "Assets": {
        "asset_close": "Total fixed assets",
        "fixed_assets": "Fixed Investments Assets",
        "invest_assets": "Current Investment Assets",
        "cash_assets": "Cash",
        "current_assets": "Total Current Assets",
        "credit_1": "Creditors - within one year",
        "credit_long": "Creditors - Long Term/Provision",
        "pension_assets": "Pension Assets/Liabilities",
        "funds_total": "Total Net Assets/Liabilities",
    },
    "Funds": {
        "funds_end": "Endowment funds",
        "funds_restrict": "Restricted funds",
        "funds_unrestrict": "Unrestricted funds",
        "funds_total": "Total funds",
    },
    "Reserves": {
        "reserves": "Reserves (£)",
        "reserves_months": "Reserves (as months of expenditure)",
    },
    "People": {
        "employees": "Employees",
        "volunteers": "Volunteers",
    }
} %}

{% block headscripts %}
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js" integrity="sha512-vBmx0N/uQOXznm/Nbkp7h0P1RfLSj0HQrFSzV8m7rOGyj30fYAOKHYvCNez+yM8IrfnW0TCodDEjRqf6fodf/Q==" crossorigin="anonymous"></script>
{% endblock %}

{% block bodyscripts %}
{{ super() }}
<script>
    const FINANCES = {{ charity.financial_json()|tojson }};
</script>
<script src="{{ static('js/charts.js') }}"></script>
{% endblock %}

{% block organisation_details %}

  <section class="f5" id="charity-details">
      
      {% for c, items in charity.classification.all()|groupby("vocabulary.title") %}
        <h4>{{ c }}</h4>
        <ul>
          {% for i in items %}
          <li>{{ i.title }}</li>
          {% endfor %}
        </ul>
      {% endfor %}

      {% if charity.financial.count() %}
      {% set finances = charity.financial.order_by('fyend').all() %}
      <h4>Charity financials</h4>
      
      <table>
        <tr>
          <th>Year ending</th>
          <th>Income (£)</th>
          <th>Spending (£)</th>
        </tr>
      {% for f in finances %}
        <tr>
          <td>{{ f.fyend }}</td>
          <td>{{ "{:,.0f}".format(f.income) }}</td>
          <td>{{ "{:,.0f}".format(f.spending) }}</td>
        </tr>
      {% endfor %}
      </table>
      
      <canvas id="financeChart" width="400" height="200" class="measure"></canvas>

      {% for table, fields in partb_tables.items() %}
      <h3>{{table}}</h3>
      <table>
        <thead>
          <tr>
            <th rowspan="2">Financial year end</th>
            {% for field in fields %}
            <th class="bw0">{{ fields[field] }}</th>
            {% endfor %}
          </tr>
          <tr>
            {% for field in fields %}
            <th>
              <canvas id="sparkline-{{field}}" data-field="{{field}}" class="sparkline mw4 fr" width="100" height="30"></canvas>
            </th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
        {% for f in finances %}
            <tr>
                <td>{{ f.fyend }}</td>
                {% if f.account_type != 'basic' %}
                    {% for field in fields %}
                        {% if f[field] %}
                            {% if field == 'reserves_months' %}
                            <td>{{ "{:,.1f}".format(f[field]) }}</td>
                            {% else %}
                            <td>{{ "{:,.0f}".format(f[field]) }}</td>
                            {% endif %}
                        {% else %}
                        <td>-</td>
                        {% endif %}
                    {% endfor %}
                {% else%}
                <td class="i gray" colspan='{{ fields|length }}'>No data available</td>
                {% endif%}
            </tr>
        {% endfor %}
        </tbody>
      </table>
      {% endfor %}

      {% endif %}
  </section>

  {{ super() }}

{% endblock %}


{% block location %}
{% if org.location or org.postalCode or charity.geographical_spread %}
<article class="message is-info">
<h4 class="ma0 pa0">Locations</h4>
<p class="f6 gray">Depending on the data source, location may describe the headquarters of the organisation rather than the area it operates in.</p>
<div id="locationmap" class="h5"></div>
{% if charity.geographical_spread %}
<div class="mv3">
    <h5 class="ma0 pa0">Geographic spread</h5>
    <p class="f6 ma0 pa0">
    {{ charity.geographical_spread|titlecase }}
    </p>
</div>
{% endif %}
{% if org.postalCode %}
<div class="mv3">
    <h5 class="ma0 pa0">Postcode</h5>
    <p class="f6 ma0 pa0">
    {{ org.postalCode }}
    </p>
</div>
{% endif %}
<div class="mv3">
    <h5 class="ma0 pa0">Locations</h5>
    <ul class="mv0 list mh0 pa0 f6">
    {% for v in org.location %}
    {% if v.geoCode and v.geoCode|regex_search("[ENWSK][0-9]{8}") %}
    <li class="w-100 mb2">
        <a class="link dark-blue underline-hover" href="https://findthatpostcode.uk/areas/{{ v.geoCode }}.html" target="_blank">{{ v.name|titlecase }}</a>
        {% if v.geoCodeType %}({{ v.geoCodeType }}){% endif %}
        {# {{ show_sources(v) }} #}
    </li>
    {% else %}
    <li class="w-100 mb2">
        {{ v.name|titlecase }} {% if v.geoCode %}(<code>{{ v.geoCode }}</code>){% endif %}
        {% if v.geoCodeType %}({{ v.geoCodeType }}){% endif %}
        {# {{ show_sources(v) }} #}
    </li>
    {% endif %}
    {% endfor %}
    </ul>
</div>
</article>
{% endif %}
{% endblock %}