<header class="fl w-100 ph3 ph5-ns pt4 entry-content lh-copy f4 {% if company.DissolutionDate %}dark-gray bg-washed-yellow{% endif %}">
  <div class="w-100 w-80-ns fl">
    <span class="f5 gray">Company record</span>
    <h2 class="f1-ns mt0 mb0 f2 lh-title normal w-100 w-50-l">
        {{ company.CompanyName|titlecase }}
    </h2>
    <h3 class="f3-ns mb4 mt4 f4 lh-subtitle normal">
      {% if company.DissolutionDate %}
      An <span class="normal red">inactive</span>
      {% else %}
      {{ company.CompanyCategory|a_or_an|title }}
      {% endif %}
      {{ company.CompanyCategory }}
      {%- if company.DissolutionDate %}. Removed on {{ "{:%d %B %Y}".format(company.DissolutionDate) }}.{% endif %}
    </h3>

    <div class="mv3 w-100 w-50-l">
      {% if not company.DissolutionDate %}
      <span class="pv1 ph2 br2 bg-green white dib mr2 mb2">Active</span>
      {% else %}
      <span class="pv1 ph2 br2 bg-dark-red white dib mr2 mb2">Inactive</span>
      {% endif %}
    </div>
  </div>
  
  <div class="w-100 w-20-l fl">
    <p class="cf">
    {# <a href="{{ url('orgid_json', kwargs={'org_id': org.org_id}) }}"
       class="link dib bg-dark-green white code underline-hover normal f6 pv0 ph1 br1 fr">Access this data in JSON format</a>
    </p> #}
    <div class="mv3 w-100 tr">
      <div class="mb1">{{ orgid_link(company.org_id, true, copy=true) }}</div>
      <div class="f6 mt4 br2 h-100 pa2 bg-washed-red tl">
        <p class="mt0">Find that Charity displays records of organisations that use other legal forms, as well
        as registered charities.</p>
        <p class="mv0">According to information from the available data sources, this organisation is not
        registered as a charity.</p>
      </div>
    </div>
  </div>
</header>