{% call org_panel("Balance sheet", org) %}
<p class="measure">
    Balance sheet at <strong>{{ format_date(cy.fin_period_end_date) }}</strong>.
</p>
<p class="measure">
    Based on information provided to the Charity Commission for England and Wales in the
    charity's annual return. This may not exactly match the figures and categories supplied in the
    charity's annual accounts.
</p>
<table class="table collapse financial-table">
    <thead>
        <tr>
            <th></th>
            <th class="tr">{{ cy.fin_period_end_date.year }}<br>
                {% if cy_partb.scale == 1000000 %}
                £m
                {% elif cy_partb.scale == 1000 %}
                £000s
                {% else %}
                £
                {% endif %}
            </th>
            <th class="tr">
            {% if py_partb %}{{ py_partb.fin_period_end_date.year }}
            {% elif py %}{{ py.fin_period_end_date.year }}
            {% endif %}<br>
                {% if cy_partb.scale == 1000000 %}
                £m
                {% elif cy_partb.scale == 1000 %}
                £000s
                {% else %}
                £
                {% endif %}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="bn ttu tl b" colspan="3">Fixed assets</td>
        </tr>
        <tr>
            <td class="bn tl">Tangible and intangible assets</td>
            <td class="bn code">{{ cy_partb.assets_own_use|number_format(cy_partb.scale) }}</td>
            <td class="bn code">{% if py_partb %}{{ py_partb.assets_own_use|number_format(cy_partb.scale) }}{% endif %}</td>
        </tr>
        <tr>
            <td class="bn tl">Investment assets</td>
            <td class="bn code">{{ cy_partb.assets_long_term_investment|number_format(cy_partb.scale) }}</td>
            <td class="bn code">{% if py_partb %}{{ py_partb.assets_long_term_investment|number_format(cy_partb.scale) }}{% endif %}</td>
        </tr>
        <tr>
            <td class="bn tl"></td>
            <td class="bn b code">{{ cy_partb.assets_total_fixed|number_format(cy_partb.scale) }}</td>
            <td class="bn b code">{% if py_partb %}{{ py_partb.assets_total_fixed|number_format(cy_partb.scale) }}{% endif %}</td>
        </tr>
        <tr>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td class="bn ttu tl b" colspan="3">Current assets</td>
        </tr>
        <tr>
            <td class="bn tl">Current investment assets</td>
            <td class="bn code">{{ cy_partb.assets_current_investment|number_format(cy_partb.scale) }}</td>
            <td class="bn code">{% if py_partb %}{{ py_partb.assets_current_investment|number_format(cy_partb.scale) }}{% endif %}</td>
        </tr>
        <tr>
            <td class="bn tl">Cash</td>
            <td class="bn code">{{ cy_partb.assets_cash|number_format(cy_partb.scale) }}</td>
            <td class="bn code">{% if py_partb %}{{ py_partb.assets_cash|number_format(cy_partb.scale) }}{% endif %}</td>
        </tr>
        <tr>
            <td class="bn tl">Other current assets</td>
            <td class="bn code">{{ cy_partb.assets_other_current|number_format(cy_partb.scale) }}</td>
            <td class="bn code">{% if py_partb %}{{ py_partb.assets_other_current|number_format(cy_partb.scale) }}{% endif %}</td>
        </tr>
        <tr>
            <td class="bn tl"></td>
            <td class="bn b code">{{ cy_partb.assets_current|number_format(cy_partb.scale) }}</td>
            <td class="bn b code">{% if py_partb %}{{ py_partb.assets_current|number_format(cy_partb.scale) }}{% endif %}</td>
        </tr>
        <tr>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td class="bn ttu tl b" colspan="3">Creditors</td>
        </tr>
        <tr>
            <td class="bn tl">Amounts falling due within one year</td>
            <td class="bn code">{{ cy_partb.creditors_one_year_total_current|number_format(cy_partb.scale * -1) }}</td>
            <td class="bn code">{% if py_partb %}{{ py_partb.creditors_one_year_total_current|number_format(cy_partb.scale * -1) }}{% endif %}</td>
        </tr>
        <tr>
            <td class="bn tl ttu b">Net current assets</td>
            <td class="bn b code">{{ cy_partb.assets_net_current|number_format(cy_partb.scale) }}</td>
            <td class="bn b code">{% if py_partb %}{{ py_partb.assets_net_current|number_format(cy_partb.scale) }}{% endif %}</td>
        </tr>
        <tr>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td class="bn tl ttu b">Total assets less current liabilities</td>
            <td class="bn b code">{{ cy_partb.assets_less_current_liabilities|number_format(cy_partb.scale) }}</td>
            <td class="bn b code">{% if py_partb %}{{ py_partb.assets_less_current_liabilities|number_format(cy_partb.scale) }}{% endif %}</td>
        </tr>
        <tr>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td class="bn ttu tl b" colspan="3">Creditors</td>
        </tr>
        <tr>
            <td class="bn tl">Amounts falling due after one year</td>
            <td class="bn code">{{ cy_partb.creditors_falling_due_after_one_year|number_format(cy_partb.scale * -1) }}</td>
            <td class="bn code">{% if py_partb %}{{ py_partb.creditors_falling_due_after_one_year|number_format(cy_partb.scale * -1) }}{% endif %}</td>
        </tr>
        <tr>
            <td colspan="3"></td>
        </tr>
        {% if cy_partb.defined_benefit_pension_scheme or (py_partb and py_partb.defined_benefit_pension_scheme)%}
        <tr>
            <td class="bn tl ttu b">Net assets (excluding pension scheme)</td>
            <td class="bn b code">{{ cy_partb.assets_total_excluding_pension|number_format(cy_partb.scale) }}</td>
            <td class="bn b code">{% if py_partb %}{{ py_partb.assets_total_excluding_pension|number_format(cy_partb.scale) }}{% endif %}</td>
        </tr>
        <tr>
            <td class="bn tl">Defined benefit pension scheme</td>
            <td class="bn code">{{ cy_partb.defined_benefit_pension_scheme|number_format(cy_partb.scale) }}</td>
            <td class="bn code">{% if py_partb %}{{ py_partb.defined_benefit_pension_scheme|number_format(cy_partb.scale) }}{% endif %}</td>
        </tr>
        <tr>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td class="bn tl ttu b">Net assets (including pension scheme)</td>
            <td class="bn b code">{{ cy_partb.assets_total_assets_and_liabilities|number_format(cy_partb.scale) }}</td>
            <td class="bn b code">{% if py_partb %}{{ py_partb.assets_total_assets_and_liabilities|number_format(cy_partb.scale) }}{% endif %}</td>
        </tr>
        {% else %}
        <tr>
            <td class="bn tl ttu b">Net assets</td>
            <td class="bn b code">{{ cy_partb.assets_total_assets_and_liabilities|number_format(cy_partb.scale) }}</td>
            <td class="bn b code">{% if py_partb %}{{ py_partb.assets_total_assets_and_liabilities|number_format(cy_partb.scale) }}{% endif %}</td>
        </tr>
        {% endif %}
        <tr>
            <td class="" colspan="3"></td>
        </tr>
        <tr>
            <td class="bn ttu tl b" colspan="3">Funds</td>
        </tr>
        <tr>
            <td class="bn tl">Endowment funds</td>
            <td class="bn code">{{ cy_partb.funds_endowment|number_format(cy_partb.scale) }}</td>
            <td class="bn code">{% if py_partb %}{{ py_partb.funds_endowment|number_format(cy_partb.scale) }}{% endif %}</td>
        </tr>
        <tr>
            <td class="bn tl">Restricted funds</td>
            <td class="bn code">{{ cy_partb.funds_restricted|number_format(cy_partb.scale) }}</td>
            <td class="bn code">{% if py_partb %}{{ py_partb.funds_restricted|number_format(cy_partb.scale) }}{% endif %}</td>
        </tr>
        <tr>
            <td class="bn tl">Unrestricted funds</td>
            <td class="bn code">{{ cy_partb.funds_unrestricted|number_format(cy_partb.scale) }}</td>
            <td class="bn code">{% if py_partb %}{{ py_partb.funds_unrestricted|number_format(cy_partb.scale) }}{% endif %}</td>
        </tr>
        <tr>
            <td class="bn tl"></td>
            <td class="bn b code">{{ cy_partb.funds_total|number_format(cy_partb.scale) }}</td>
            <td class="bn b code">{% if py_partb %}{{ py_partb.funds_total|number_format(cy_partb.scale) }}{% endif %}</td>
        </tr>
    </tbody>
</table>
{% endcall %}