{% set events = charity.events %}
{% if events %}
  {% call org_panel("Charity financial history", org) %}
      <div class="w-100 cf" id="charity-financials">
      <div class="w-100 w-50-ns fl pr4-ns">
      <table class="table collapse">
        <tr>
          <th>Year ending</th>
          <th>Income (£)</th>
          <th>Spending (£)</th>
        </tr>
      {% for event in events %}
        <tr>
          <td>{{ event.fyend }}</td>
          {% if event.event %}
          <td colspan="2" class="tr">
            <span class="gray">{{ event.event }}</span><br>
          </td>
          {% else %}
          <td>{{ "{:,.0f}".format(event.income) }}</td>
          <td>{% if event.spending %}{{ "{:,.0f}".format(event.spending) }}{% endif %}</td>
          {% endif %}
        </tr>
      {% endfor %}
      </table>
      </div>
      
      <div class="w-100 w-50-ns fl">
      {% if events|length > 1 %}
      <canvas id="financeChart" width="400" height="350" class="measure"></canvas>
      {% endif %}
      </div>
      </div>

    {% endcall %}
{% endif %}