{% call org_panel("Income from government", org) %}

{% if cy.charity_receives_govt_funding_contracts 
    or cy.charity_receives_govt_funding_grants
    or (py and py.charity_receives_govt_funding_contracts)
    or (py and py.charity_receives_govt_funding_grants)
 %}
<table class="table collapse financial-table">
    <thead>
        <tr>
            <th></th>
            <th>{{ cy.fin_period_end_date.year }}<br>£</th>
            {% if py_partb %}
            <th>{{ py_partb.fin_period_end_date.year }}<br>£</th>
            {% elif py %}
            <th>{{ py.fin_period_end_date.year }}<br>£</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% if cy.charity_receives_govt_funding_contracts %}
        <tr>
            <td class="bn ttu tl b" colspan="3">Contracts with government</td>
        </tr>
        <tr>
            <td class="bn tl">Income from government contracts</td>
            <td class="bn">{{ "{:,.0f}".format(cy.income_from_government_contracts) }}</td>
            <td class="bn">{% if py and py.income_from_government_contracts %}{{ "{:,.0f}".format(py.income_from_government_contracts) }}{% endif %}</td>
        </tr>
        <tr>
            <td class="bn tl">Government contracts as % of total income</td>
            <td class="bn">{{ "{:.1%}".format(cy.income_from_government_contracts / cy.total_gross_income|float) }}</td>
            <td class="bn">{% if py and py.income_from_government_contracts %}{{ "{:.1%}".format(py.income_from_government_contracts / py.total_gross_income|float) }}{% endif %}</td>
        </tr>
        <tr>
            <td class="bn tl">Number of government contracts</td>
            <td class="bn">{{ "{:,.0f}".format(cy.count_govt_contracts) }}</td>
            <td class="bn">{% if py and py.count_govt_contracts %}{{ "{:,.0f}".format(py.count_govt_contracts) }}{% endif %}</td>
        </tr>
        {% endif %}
        {% if cy.charity_receives_govt_funding_grants %}
        <tr>
            <td class="bn ttu tl b" colspan="3">Government grants</td>
        </tr>
        <tr>
            <td class="bn tl">Income from government grants</td>
            <td class="bn">{{ "{:,.0f}".format(cy.income_from_government_grants) }}</td>
            <td class="bn">{% if py and py.income_from_government_grants %}{{ "{:,.0f}".format(py.income_from_government_grants) }}{% endif %}</td>
        </tr>
        <tr>
            <td class="bn tl">Government grants as % of total income</td>
            <td class="bn">{{ "{:.1%}".format(cy.income_from_government_grants / cy.total_gross_income|float) }}</td>
            <td class="bn">{% if py and py.income_from_government_grants %}{{ "{:.1%}".format(py.income_from_government_grants / py.total_gross_income|float) }}{% endif %}</td>
        </tr>
        <tr>
            <td class="bn tl">Number of government grants</td>
            <td class="bn">{{ "{:,.0f}".format(cy.count_govt_grants) }}</td>
            <td class="bn">{% if py and py.count_govt_grants %}{{ "{:,.0f}".format(py.count_govt_grants) }}{% endif %}</td>
        </tr>
        {% endif %}
    </tbody>
</table>
{% else %}
<p class="measure-wide">According to data returned to the Charity Commission, this charity did not receive 
income from government grants or contracts in either the current or previous years.</p>
{% endif %}
{% endcall %}