{% set events = charity.events %}
{% if events %}
  {% call org_panel("Charity people", org) %}
      <div class="w-100 cf" id="charity-people">
      <div class="w-100 w-50-ns fl pr4-ns">
      <table class="table collapse">
        <thead>
          <tr>
            <th></th>
            <th>{{ cy.fin_period_end_date.year }}<br>£</th>
            {% if py_partb %}
            <th>{{ py_partb.fin_period_end_date.year }}<br>£</th>
            {% elif py %}
            <th>{{ py.fin_period_end_date.year }}<br>£</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% if cy_partb %}
          <tr>
            <td class="bn tl">Employees</td>
            <td class="bn">{{ cy_partb.count_employees|number_format() }}</td>
            <td class="bn">{% if py_partb %}{{ py_partb.count_employees|number_format() }}{% endif %}</td>
          </tr>
          <tr>
            <td class="pl4 tl i">Employees paid more than £60,000</td>
            <td class="bn">{{ cy.count_salary_band_over_60000|number_format() }}</td>
            <td class="bn">{% if py %}{{ py.count_salary_band_over_60000|number_format() }}{% endif %}</td>
          </tr>
          {% else %}
          <tr>
            <td class="bn tl">Employees paid more than £60,000</td>
            <td class="bn">{{ cy.count_salary_band_over_60000|number_format() }}</td>
            <td class="bn">{% if py %}{{ py.count_salary_band_over_60000|number_format() }}{% endif %}</td>
          </tr>
          {% endif %}
          <tr>
            <td class="bn tl">Volunteers</td>
            <td class="bn">{{ cy.count_volunteers|number_format() }}</td>
            <td class="bn">{% if py %}{{ py.count_volunteers|number_format() }}{% endif %}</td>
          </tr>
          <tr>
            <td class="bn tl">Trustees</td>
            <td class="bn">{{ charity.trustees|number_format() }}</td>
          </tr>
        </tbody>
      </table>
      </div>
      
      <div class="w-100 w-50-ns fl">
      {% if events|length > 1 %}
      <figure id="employeesChartFigure" class="dn pa0 mb3 mt0 mh0">
        <figcaption class="mb1"><span class="b green">Employees</span></figcaption>
        <canvas id="employeesChart" width="400" height="160" class="measure"></canvas>
      </figure>
      <figure id="volunteersChartFigure" class="dn pa0 mb3 mt0 mh0">
        <figcaption class="mb1"><span class="b blue">Volunteers</span></figcaption>
        <canvas id="volunteersChart" width="400" height="160" class="measure"></canvas>
      </figure>
      {% endif %}
      <p class="f6 gray measure">
        Data on employees is only available for financial years where the charity's income was more than £500,000.
      </p>
      </div>
      </div>

    {% endcall %}
{% endif %}