{% extends 'base.html' %}

{% block extra_head %}
<style>{% include "django_sql_dashboard/_css.html" %}</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/codemirror.min.js" integrity="sha512-i9pd5Q6ntCp6LwSgAZDzsrsOlE8SN+H5E0T5oumSXWQz5l1Oc4Kb5ZrXASfyjjqtc6Mg6xWbu+ePbbmiEPJlDg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/codemirror.min.css" integrity="sha512-xIf9AdJauwKIVtrVRZ0i4nHP61Ogx9fSRAkCLecmE2dL/U8ioWpDvFCAy4dcfecN72HHB9+7FfQj3aiO68aaaw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/mode/sql/sql.min.js" integrity="sha512-dfObApt1XdGl62IJLrjbIOc9QtnRORA5TCwdnJkSj6C/KjwMz2L/Sc4WlcrgAuWoY+n5xTf6NMMojoUOlgwjug==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<style>
  .sql-dashboard {
    font-family: 'Raleway', sans-serif;
  }
  .sql-dashboard h1 {
    font-family: 'Archivo', sans-serif;
    font-size: 3rem;
    font-weight: 400;
  }
  .sql-dashboard .query-results {
    overflow-y: scroll;
    max-width: 100%;
    display: block;
    white-space: nowrap;
  }
  .sql-dashboard .query-results table {
    font-size: 0.9rem;
    font-family: Consolas,monaco,monospace;
    line-height: 1.2;
  }
  .sql-dashboard .query-results table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  .sql-dashboard .query-results table thead tr {
    background-color: rgb(17, 17, 17);
    color: #ccc;
  }
  .sql-dashboard .dashboard-columns {
    font-family: Consolas,monaco,monospace;
  }
  .CodeMirror {
    border: 1px solid #eee;
    height: auto;
    font-size: 1rem;
  }
</style>
{% endblock %}

{% block sectionstyles %}sql-dashboard fl w-100 ph3 pv5 ph5-ns lh-copy f4 entry-content{% endblock %}

{% block bodyscripts %}
<script>
document.querySelectorAll("textarea[name='sql']").forEach((el) => {
  CodeMirror.fromTextArea(el, {
    mode: 'sql',
    lineWrapping: true,
    lineNumbers: true,
  });
});
</script>
{% endblock %}