{% extends 'base.html' %}

{% block extra_head %}
<style>
  {% include "django_sql_dashboard/_css.html" %}
</style>
<script src="{% static 'lib/codemirror/codemirror.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'lib/codemirror/codemirror.min.css' %}" />
<script src="{% static 'lib/codemirror/codemirror.sql.min.js' %}"></script>
{% endblock %}

{% block sectionstyles %}sql-dashboard fl w-100 ph3 pv5 ph5-ns lh-copy f4 entry-content{% endblock %}

{% block bodyscripts %}
<script>
  document.querySelectorAll("textarea[name='sql']").forEach((el) => {
    CodeMirror.fromTextArea(el, {
      mode: 'sql',
      lineWrapping: true,
      lineNumbers: true,
    });
  });
</script>
{% endblock %}