{% if org.locations or org.postalCode %}
{% call org_panel("Locations", org) %}
<div class="w-100 fl">
    <div id="locationmap" class="h6 h7-l"></div>
</div>
<div class="w-100 fl ph3 ">
    <p class="f6 gray measure">Depending on the data source, location may describe the headquarters of the organisation rather than the area it operates in.</p>
    {% if org.locations %}
        {% for areatype, countries in org.locations_group()|dictsort %}
        {% for country, areas in countries|dictsort|selectattr(0, "equalto", 'GB') %}
        {% if loop.first %}
        <div class="mv3 w-100 w-third-l fl-l pr3-l">
            <h4 class="ma0 pa0">{{ areatype|pluralise(count=areas|length, text_format="{text}") }} in the UK</h4>
            <ul class="mv0 list mh0 pa0 f6 w-100" style="max-height: 150px; overflow-y: auto;">
        {% endif %}
                {% for l in areas|sort %}
                <li class="">
                    {% if l and l|regex_search("[ENWSK][0-9]{8}") %}
                    <a class="link dark-blue underline-hover" href="https://findthatpostcode.uk/areas/{{ l }}.html" target="_blank">
                        {{ l|get_geoname }}
                    </a>
                    {% else %}
                    {{ l|get_geoname }} (<code>{{ l }}</code>)
                    {% endif %}
                </li>
                {% endfor %}
        {% if loop.last %}
            </ul>
        </div>
        {% endif %}
        {% endfor %}
        {% for country, areas in countries|dictsort|rejectattr(0, "equalto", 'GB') %}
        {% if loop.first %}
        <div class="mv3">
            <h4 class="ma0 pa0">{{ areatype }} outside the UK</h4>
            <ul class="mv0 list mh0 pa0 f6 w-100" style="max-height: 150px; overflow-y: auto;">
        {% endif %}
                {% for area in areas|sort %}
                <li>{{ area|get_geoname }}</li>
                {% endfor %}
        {% if loop.last %}
            </ul>
        </div>
        {% endif %}
        {% endfor %}
        {% endfor %}
    {% endif %}
</div>
{% endcall %}
{% endif %}