<details class="mb3">
    <summary class="blue link underline-hover f7 pointer tr">About this download</summary>
    <div class="f6 measure pl3 bl bw2 b--gray mt1 pv1">
        <p class="pa0 mt0 mb1">
            This link allows you to download all organisations in the search results in a CSV format.
        </p>
        <p class="pa0 mt0 mb2">
            The number of organisations may not exactly match the search results returned. This is because
            the search results merge organisations where they are recorded as being registered with more
            than
            one regulator. The CSV download records these as separate organisations.
        </p>
        <p class="pa0 mt0 mb2">
            The fields included in the CSV are:
        </p>
        <ul class="">
            <li class="pa0 mt0 mb"><code>id</code></li>
            <li class="pa0 mt0 mb"><code>name</code></li>
            <li class="pa0 mt0 mb"><code>charityNumber</code></li>
            <li class="pa0 mt0 mb"><code>companyNumber</code></li>
            <li class="pa0 mt0 mb"><code>postalCode</code></li>
            <li class="pa0 mt0 mb"><code>url</code></li>
            <li class="pa0 mt0 mb"><code>latestIncome</code></li>
            <li class="pa0 mt0 mb"><code>latestIncomeDate</code></li>
            <li class="pa0 mt0 mb"><code>dateRegistered</code></li>
            <li class="pa0 mt0 mb"><code>dateRemoved</code></li>
            <li class="pa0 mt0 mb"><code>active</code></li>
            <li class="pa0 mt0 mb"><code>dateModified</code></li>
            <li class="pa0 mt0 mb"><code>orgIDs</code></li>
            <li class="pa0 mt0 mb"><code>linked_orgs</code></li>
            <li class="pa0 mt0 mb"><code>linked_orgs_verified</code></li>
            <li class="pa0 mt0 mb"><code>organisationType</code></li>
            <li class="pa0 mt0 mb"><code>organisationTypePrimary</code></li>
            <li class="pa0 mt0 mb"><code>source</code></li>
        </ul>
    </div>
</details>