{% macro orgid_classname(large=False) %}
{% if large %}
f4 pv1 ph2 br2
{% else %}
f6 pv0 ph1 br1
{% endif %}
{% endmacro %}

{% macro orgid_link(id, large=false, copy=false) %}
{% set size = "16px" if large else "12px" %}
<span class="dib nowrap bg-dark-blue {{orgid_classname(large)}}"><a
      href="{{ url('orgid_html', kwargs={'org_id': id}) }}"
      class="link  white code underline-hover normal ws-normal">{{id}}</a>{%- if copy -%}
   <a class="copy-text pointer f6 grow" data-target="{{ id }}" title="Copy this identifier to your clipboard">
      <svg xmlns="http://www.w3.org/2000/svg" height="{{ size }}" viewBox="0 0 24 24" width="{{ size }}" fill="#FFFFFF">
         <path d="M0 0h24v24H0V0z" fill="none" />
         <path
            d="M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z" />
      </svg></a>{%- endif -%}</span>
{% endmacro %}

{% macro orgid_connection(id_a, id_b, large=false) %}
<span class="dib bg-dark-blue white code {{orgid_classname(large)}}">
   <a href="{{ url('orgid_html', kwargs={'org_id': id_a}) }}"
      class="link di white underline-hover nowrap">{{- id_a -}}</a>
   <span class="bg-lightest-blue dark-blue ph2 dib">to</span>
   <a href="{{ url('orgid_html', kwargs={'org_id': id_b}) }}"
      class="link di white underline-hover nowrap">{{- id_b -}}</a>
</span>
{% endmacro %}

{% macro orgtype_link(orgtype, large=false) %}
<a href="{{ url('orgid_type', kwargs={'orgtype': orgtype.slug}) }}"
   class="link dib bg-light-gray near-black underline-hover nowrap {{orgid_classname(large)}} mb2">
   {{orgtype.title}}
</a>
{% endmacro %}