{% if search.active is not none %}
<p>
    Showing only {% if search.active is true %}active{% else %}inactive{% endif %} organisations
     - <a class="link dark-blue underline-hover mr3" href="{{ url_replace(request, active='all') }}">show all organisations</a>
</p>
{% elif search.aggregation.by_active.active and search.aggregation.by_active.inactive %}
<p>
    Showing all organisations
</p>
<ul class="mb4 mt2 list mh0 pa0 lh-title">
    <li class="w-100 f4 mb2">
        <div class="">
            <a class="link dark-blue underline-hover mr3" href="{{ url_replace(request, active=true) }}">
                Show only {{ "{:,.0f}".format(search.aggregation.by_active.active) }} active organisations
            </a>
        </div>
    </li>
    <li class="w-100 f5 mb2">
        <div class="">
            <a class="link dark-blue underline-hover mr3" href="{{ url_replace(request, active=false) }}">
                Show only {{ "{:,.0f}".format(search.aggregation.by_active.inactive) }} inactive organisations
            </a>
        </div>
    </li>
</ul>
{% endif %}

<h4 class="ma0 pa0">Organisation types</h4>
<select class="js-choices w-100" style="max-width: 100%" multiple name="orgtype">
    <option value="">Organisation type</option>
    <optgroup label="Main organisation types">
    {% for t in search.aggregation.by_orgtype if orgtypes[t.orgtype].is_keytype() and search.base_orgtype != t.orgtype %}
        <option value="{{ t.orgtype }}" {% if search.other_orgtypes and t.orgtype in search.other_orgtypes %}selected="selected"{% endif %}>
            {{ orgtypes[t.orgtype].title }}
            <span class="mid-gray">({{ "{:,.0f}".format(t.records) }})</span>
        </option>
    {% endfor %}
    </optgroup>
    <optgroup label="Other organisation types">
    {% for t in search.aggregation.by_orgtype if not orgtypes[t.orgtype].is_keytype() and search.base_orgtype != t.orgtype %}
        <option value="{{ t.orgtype }}" {% if search.other_orgtypes and t.orgtype in search.other_orgtypes %}selected="selected"{% endif %}>
            {{ orgtypes[t.orgtype].title }}
            <span class="mid-gray">({{ "{:,.0f}".format(t.records) }})</span>
        </option>
    {% endfor %}
    </optgroup>
</select>

<h4 class="ma0 pa0">Data sources</h4>
<select class="js-choices w-100" style="max-width: 100%" multiple name="source">
    <option value="">Data source</option>
    {% for t in search.aggregation.by_source %}
        <option value="{{ t.source }}" {% if search.source and t.source in search.source %}selected="selected"{% endif %}>
            {{ sources[t.source] }}
            <span class="mid-gray">({{ "{:,.0f}".format(t.records) }})</span>
        </option>
    {% endfor %}
</select>

<h4 class="ma0 pa0">UK areas</h4>
<select class="js-choices w-100" style="max-width: 100%" multiple name="location">
    <option value="">UK areas</option>
{% for locationtype, locationtypename in (('ctry', 'Country'), ('rgn', 'Region (England)'), ('la', 'UK Local Authority'), ) if locations[locationtype] %}
    <optgroup label="{{ locationtypename }}">
    {% for areacode, areaname in locations[locationtype]|dictsort%}
        {% if areacode in search.aggregation.by_location %}
            <option value="{{ areacode }}" {% if search.location and areacode in search.location %}selected="selected"{% endif %}>
                {{ areaname }}
                <span class="mid-gray">({{ "{:,.0f}".format(search.aggregation.by_location[areacode]) }})</span>
            </option>
        {% endif %}
    {% endfor %}
    </optgroup>
{% endfor %}
</select>

{% if locations["iso"] %}
<h4 class="ma0 pa0">Country</h4>
<select class="js-choices w-100" style="max-width: 100%" multiple name="location">
    <option value="">Country</option>
{% for areacode, areaname in locations["iso"]|dictsort %}
    {% if areacode in search.aggregation.by_location %}
        <option value="{{ areacode }}" {% if search.location and areacode in search.location %}selected="selected"{% endif %}>
            {{ areaname }}
            <span class="mid-gray">({{ "{:,.0f}".format(search.aggregation.by_location[areacode]) }})</span>
        </option>
    {% endif %}
{% endfor %}
</select>
{% endif %}

<input
    type="submit"
    value="Filter organisations"
    class="f5 f4-l button-reset header-font pv3 ph4 tc bg-animate bg-yellow dim near-black pointer bw2 b--near-black ba"
    />
<a href="{{ url_remove(request, ['orgtype', 'source', 'location']) }}" class="f6 link blue underline">Clear filters</a>