{% set events = charity.events %}
{% if events %}
  {% call org_panel("Charity financial history", org) %}
      <div class="w-100 cf" id="charity-financials">
      <div class="w-100 w-50-ns fl pr4-ns">
      <table class="table collapse">
        <tr>
          <th>Year ending</th>
          <th>Income (£)</th>
          <th>Spending (£)</th>
        </tr>
      {% for event in events %}
        <tr>
          <td>{{ event.fyend }}</td>
          {% if event.event %}
          <td colspan="2" class="tr">
            <span class="gray">{{ event.event }}</span><br>
          </td>
          {% else %}
          <td>{{ "{:,.0f}".format(event.income) }}</td>
          <td>{% if event.spending %}{{ "{:,.0f}".format(event.spending) }}{% endif %}</td>
          {% endif %}
        </tr>
      {% endfor %}
      </table>
      </div>
      
      <div class="w-100 w-50-ns fl">
      {% if events|length > 1 %}
      <figure id="financeChartFigure" class="dn pa0 mb3 mt0 mh0">
        <figcaption class="mb1"><span class="b blue">Income</span> and <span class="b green">Spending</span> </figcaption>
        <canvas id="financeChart" width="400" height="160" class="measure"></canvas>
      </figure>
      <figure id="fundsChartFigure" class="dn pa0 mb3 mt0 mh0">
        <figcaption class="mb1"><span class="b orange">Funds</span> and <span class="b red">Reserves</span></figcaption>
        <canvas id="fundsChart" width="400" height="160" class="measure"></canvas>
      </figure>
      <p class="f6 gray measure">
        Data on funds and reserves are only available for financial years where the charity's income was more than £500,000.
      </p>
      {% endif %}
      </div>
      </div>

    {% endcall %}
{% endif %}