{% set frontpage = false %}
{% extends 'base.html.j2' %}

{% block content %}
<div class="w-60-l w-100 center" id="content">
    <h1>Error</h1>
    <p>
        {{ message }}
    </p>
</div>
{% endblock %}