.material-icons {
    font-size: inherit;
    vertical-align: middle;
}

.entry-content table th.tl,
.entry-content table td.tl {
    text-align: left;
}

.entry-content table th.tc,
.entry-content table td.tc {
    text-align: center;
}

.flex-grow {
    flex-grow: 1;
}