.material-icons {
    font-size: inherit;
    vertical-align: middle;
}

.table-wrapper {
    overflow-y: auto;
}

.entry-content table.financial-table {
    width: inherit;
    font-variant-numeric: tabular-nums;
}

.entry-content table.financial-table th,
.entry-content table.financial-table td {
    border-color: rgba(0, 0, 0, .05);
}

.entry-content table.w-auto {
    width: auto;
}

.entry-content table th.tl,
.entry-content table td.tl {
    text-align: left;
}

.entry-content table th.tc,
.entry-content table td.tc {
    text-align: center;
}

.flex-grow {
    flex-grow: 1;
}

/* Sticky positioning */
.sticky {
    position: sticky;
}

@media screen and (min-width:30em) {
    .sticky-ns {
        position: sticky;
    }
}

@media screen and (min-width:30em) and (max-width:60em) {
    .sticky-m {
        position: sticky;
    }
}

@media screen and (min-width:60em) {
    .sticky-l {
        position: sticky;
    }
}

/* Extra heights */
.h6 {
    height: 24rem;
}

.h7 {
    height: 32rem;
}

@media screen and (min-width:30em) {
    .h6-ns {
        height: 24rem;
    }

    .h7-ns {
        height: 32rem;
    }
}

@media screen and (min-width:30em) and (max-width:60em) {
    .h6-m {
        height: 24rem;
    }

    .h7-m {
        height: 32rem;
    }
}

@media screen and (min-width:60em) {
    .h6-l {
        height: 24rem;
    }

    .h7-l {
        height: 32rem;
    }
}



/* choices dropdown */
.choices {
    position: relative;
}

.choices__list.choices__list--dropdown {
    display: none;
}

/* .choices__input.choices__input--cloned {
    background-color: inherit;
    margin-bottom: 0px;
} */
.choices__list.choices__list--dropdown.is-active {
    display: block;
    position: absolute;
    background-color: white;
    border: 1px solid lightgray;
    /* padding: .5rem; */
    max-width: 100%;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
}

.choices__list.choices__list--dropdown.is-active .choices__group {
    border-top: 1px solid lightgray;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: bold;
}

.choices__list.choices__list--dropdown.is-active .choices__group:first-child {
    border-top: 0px solid lightgray;
}

.choices__list.choices__list--dropdown.is-active .choices__group .choices__heading {
    /* display: none; */
}

.choices__list.choices__list--dropdown.is-active .choices__item {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    cursor: pointer;
    word-break: normal;
}

.choices__list.choices__list--dropdown.is-active .choices__item.is-highlighted {
    background-color: yellow;
}

.choices__list.choices__list--dropdown.is-active .choices__item--selectable {
    padding-right: 0;
}