{% extends 'base.html.j2' %}
{% from 'components/org_id.html.j2' import orgid_link, orgtype_link %}
{% from 'components/org_record.html.j2' import org_record %}
{% from 'components/data_source.html.j2' import data_source %}
{% from 'components/org_panel.html.j2' import org_panel %}
{% set orgidschemes = get_orgidschemes() %}
{% set orgtypes = get_orgtypes() %}
{% set sources = get_sources() %}
{% set heading = "{} | {}".format(org.org_id, org["name"]|titlecase) %}
{% set subtitle = "Org ID: {}{}".format(
    org["id"],
    "" if org.active else " | Inactive"
) %}

{% block title %} | {{ heading }}{% endblock %}

{% macro show_sources(v) %}
<span class="gray f7 dib">
  [Source: {% for s in v.sources|reject('none')|unique -%}
  {%- if sources.get(s) -%}
  {{ sources.get(s).title }}
  {%- else -%}
  {{ s }}
  {%- endif -%}
  {%- if not loop.last %}, {% endif -%}
  {%- endfor -%}]
  {# [{{ v["sources"]|list_to_string }}] #}
</span>
{% endmacro %}

{% block headscripts %}
{{ super() }}
<script src="{{ static('lib/htmx/htmx.min.js') }}"></script>
{% if org.locations or org.postalCode %}
<link rel="stylesheet" href="{{ static('lib/leaflet/leaflet.min.css' )}}" />
<script src="{{ static('lib/leaflet/leaflet.min.js' )}}"></script>
{% endif %}
<script type="application/ld+json">
{{ org.schema_dot_org(request)|tojson(indent=4) }}
</script>
<link rel="canonical" href="{{ request.build_absolute_uri(url('orgid_html', kwargs={'org_id': org.org_id})) }}" />
{% endblock %}

{% block bodyscripts %}
{{ super() }}
{% if org.locations or org.postalCode %}
<script>
  const GEOCODES = {{ org.geoCodes() | list | tojson }};
  const POSTCODE = {{ org.postalCode| tojson }};
  const ORG_LAT_LONGS = {{ org.lat_lngs| tojson }};
  const MARKER_ICON_OPTIONS = {{ {
    "iconUrl": static('lib/leaflet/images/marker-icon.png'),
      "iconRetinaUrl": static('lib/leaflet/images/marker-icon-2x.png'),
        "shadowUrl": static('lib/leaflet/images/marker-shadow.png'),
  }| tojson }};
</script>
<script src="{{ static('js/locationmap.js') }}"></script>
{% endif %}
<script src="{{ static('js/tabs.js') }}"></script>
<script src="{{ static('js/copy-text.js') }}"></script>
{% endblock %}

{% block header %}
{% include 'panels/org-header.html.j2' %}
{% endblock %}

{% block content %}

{% block organisation_links %}
<div class="w-100 w-80-ns fl">
  <div class="measure">
    {% include 'panels/linked-records-summary.html.j2' %}
  </div>
  {% include 'panels/details.html.j2' %}
</div>
{% endblock %}

{% block external_links %}
<div class="w-100 w-20-l fl">
  {% include 'panels/external-links.html.j2' %}
</div>
{% endblock %}

<div class="w-100 fl pr3-l">

  <nav class="tabs mb4 cf dn" id="org-panel-tabs">
    <h4 class="f3 b mt2 mb0">Contents</h4>
    <ol class="f5"></ol>
  </nav>

  {% block organisation_details %}

  {% include 'panels/locations.html.j2' %}
  {% include 'panels/linked-records.html.j2' %}
  {% include 'panels/classification.html.j2' %}
  {% include 'panels/grants.html.j2' %}
  {% include 'panels/cqc.html.j2' %}

  {% endblock %}
  {% include 'panels/data-sources.html.j2' %}

</div>

{% endblock %}