{% extends 'base.html.j2' %}
{% from 'components/org_id.html.j2' import orgid_link, orgtype_link %}
{% from 'components/org_record.html.j2' import org_record %}
{% from 'components/data_source.html.j2' import data_source %}
{% from 'components/org_panel.html.j2' import org_panel %}
{% set orgidschemes = get_orgidschemes() %}
{% set orgtypes = get_orgtypes() %}
{% set sources = get_sources() %}
{% set heading = "{} | {}".format(org.org_id, org["name"]|titlecase) %} 
{% set subtitle = "Org ID: {}{}".format(
    org["id"],
    "" if org.active else " | Inactive"
) %}

{% block title %} | {{ heading }}{% endblock %}

{% macro show_sources(v) %}
<span class="gray f7 dib">
  [Source: {% for s in v.sources|reject('none')|unique -%}
    {%- if sources.get(s) -%}
      {{ sources.get(s).title }}
    {%- else -%}
      {{ s }}
    {%- endif -%}
    {%- if not loop.last %}, {% endif -%}
  {%- endfor -%}]
  {# [{{ v["sources"]|list_to_string }}] #}
</span>
{% endmacro %}

{% block headscripts %}
{{ super() }}
{% if org.locations.exists() or org.postalCode %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
   integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
   crossorigin=""></script>
{% endif %}
<script type="application/ld+json">
{{ org.schema_dot_org(request)|tojson(indent=4) }}
</script>
{% endblock %}

{% block bodyscripts %}
{{ super() }}
{% if org.locations.exists() or org.postalCode %}
<script>
  const GEOCODES = {{ org.geoCodes()|list|tojson }};
  const POSTCODE = {{ org.postalCode|tojson }};
  const ORG_LAT_LONGS = {{ org.lat_lngs|tojson }};
</script>
<script src="{{ static('js/locationmap.js') }}"></script>
{% endif %}
<script src="{{ static('js/tabs.js') }}"></script>
<script>
  // copy text
  document.querySelectorAll(".copy-text").forEach((el) => {
    if(el.dataset.target){
      el.onclick = (ev)=>{
        ev.preventDefault();
        navigator.clipboard.writeText(ev.target.dataset.target).then(()=> {
          const toast = document.createElement("span");
          toast.classList = ['ml2 pa1 bg-dark-gray white f7 br2 absolute']
          toast.innerText = "Copied!";
          ev.target.after(toast); 
          setTimeout(() => {
              toast.parentNode.removeChild(toast);
          }, 2000);
        });
      };
    }
  });
</script>
{% endblock %}

{% block header %}
  {% include 'panels/org-header.html.j2' %}
{% endblock %}

{% block content %}

{% block organisation_links %}
<div class="w-100 w-80-ns fl">
  {% include 'panels/linked-records-summary.html.j2' %}
</div>
{% endblock %}

{% block external_links %}
<div class="w-100 w-20-l fl">
  {% include 'panels/external-links.html.j2' %}
</div>
{% endblock %}

<div class="w-100 fl pr3-l">

  {% block organisation_details %}

  <nav class="tabs mb4 cf dn" id="org-panel-tabs">
    <h4 class="f3 b mt2 mb0">Contents</h4>
    <ol class="f5"></ol>
  </nav>

  {% include 'panels/details.html.j2' %}
  {% include 'panels/locations.html.j2' %}
  {% include 'panels/linked-records.html.j2' %}
  {% include 'panels/cqc.html.j2' %}
  {% include 'panels/grants.html.j2' %}

  {% endblock %}
  {% include 'panels/data-sources.html.j2' %}

</div>

{% endblock %}