
{% set partb_tables = {
    "Charity income": {
        "_description": """The type of income received by this charity, as recorded in this charities' returns
        to the Charity Commission. Figures are in £""",
        "_note": """Only available in years when the charities' income exceeded a threshold.""",
        "inc_leg": "Legacies",
        "inc_end": "Endowment",
        "inc_vol": "Voluntary income",
        "inc_fr": "Fundraised income",
        "inc_char": "Income from charitable Activities",
        "inc_invest": "Investment income",
        "inc_other": "Other income",
        "inc_total": "Total income",
    },
    "Charity spending": {
        "_description": """A breakdown of spending made by this charity, as recorded in this charities' returns
        to the Charity Commission.""",
        "_note": """Only available in years when the charities' income exceeded a threshold.""",
        "exp_vol": "Voluntary income costs",
        "exp_trade": "Fundraising Trading costs",
        "exp_gen": "Cost of generating funds",
        "exp_invest": "Investment Management costs",
        "exp_grant": "Grants to institutions",
        "exp_charble": "Charitable Activities costs",
        "exp_gov": "Governance costs",
        "exp_other": "Other resources expended",
        "exp_total": "Total Resources expended",
    },
    "Charity assets": {
        "_description": """Assets held by the charity""",
        "fixed_assets": "Fixed Investments Assets",
        "asset_close": "Total fixed assets",
        "invest_assets": "Current Investment Assets",
        "cash_assets": "Cash",
        "current_assets": "Total Current Assets",
        "credit_1": "Creditors - within one year",
        "credit_long": "Creditors - Long Term/Provision",
        "pension_assets": "Pension Assets/Liabilities",
        "funds_total": "Total Net Assets/Liabilities",
    },
    "Charity funds": {
        "_description": """ """,
        "funds_end": "Endowment funds",
        "funds_restrict": "Restricted funds",
        "funds_unrestrict": "Unrestricted funds",
        "funds_total": "Total funds",
    },
    "Charity reserves": {
        "_description": """ """,
        "reserves": "Reserves (£)",
        "reserves_months": "Reserves (as months of expenditure)",
    },
    "People": {
        "_description": """ """,
        "employees": "Employees",
        "volunteers": "Volunteers",
    }
} %}

{% set finances = charity.financial_json %}
{% if finances %}
  {% call org_panel("Charity financial history", org) %}
      <div class="w-100 cf" id="charity-financials">
      <div class="w-100 w-50-ns fl pr4-ns">
      <table class="table collapse">
        <tr>
          <th>Year ending</th>
          <th>Income (£)</th>
          <th>Spending (£)</th>
        </tr>
      {% if org.dateRegistered %}
        <tr>
          <td colspan="">
            {{ "{:%Y-%m-%d}".format(org.dateRegistered) }}
          </td>
          <td colspan="2" class="tl">
            <span class="gray">(Registered as a charity)</span><br>
          </td>
        </tr>
      {% endif %}
      {% for f in finances|sort(attribute='fyend') %}
        <tr>
          <td>{{ f.fyend }}</td>
          <td>{{ "{:,.0f}".format(f.income) }}</td>
          <td>{% if f.spending %}{{ "{:,.0f}".format(f.spending) }}{% endif %}</td>
        </tr>
      {% endfor %}
      {% if org.dateRemoved %}
        <tr>
          <td colspan="">
            {{ "{:%d %B %Y}".format(org.dateRemoved) }}
          </td>
          <td colspan="2" class="tl">
            <span class="gray">(Removed from the register)</span>
          </td>
        </tr>
      {% endif %}
      </table>
      </div>
      
      <div class="w-100 w-50-ns fl">
      {% if finances|length > 1 %}
      <canvas id="financeChart" width="400" height="350" class="measure"></canvas>
      {% endif %}
      </div>
      </div>

    {% endcall %}

      {% if charity.has_ccew_partb %}
      {% for table, fields in partb_tables.items() %}
      {% call org_panel(table, org) %}
      <div  id="{{ table|slugify }}">
      {# <h3>{{table}}</h3> #}
      {% if fields["_description"] %}
      <p>{{ fields["_description"] }}</p>
      {% endif %}
      <div class="table-wrapper">
      <table class="table collapse financial-table">
        <thead>
          <tr>
            <th rowspan="2" class="sticky left-0 bg-white">Financial year end</th>
            {% for field in fields if not field.startswith("_") %}
            <th class="bw0">{{ fields[field] }}</th>
            {% endfor %}
          </tr>
          <tr>
            {% for field in fields if not field.startswith("_") %}
            <th>
              <canvas id="sparkline-{{field}}" data-field="{{field}}" class="sparkline mw4 fr" width="100" height="30"></canvas>
            </th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
        {% for f in finances %}
            <tr>
                <th class="sticky left-0 bg-white">{{ f.fyend }}</th>
                {% if f.has_ccew_partb %}
                    {% for field in fields if not field.startswith("_") %}
                        {% if f[field] %}
                            {% if field == 'reserves_months' %}
                            <td>{{ "{:,.1f}".format(f[field]) }}</td>
                            {% else %}
                            <td>{{ "{:,.0f}".format(f[field]) }}</td>
                            {% endif %}
                        {% else %}
                        <td>-</td>
                        {% endif %}
                    {% endfor %}
                {% else%}
                <td class="i gray tc" colspan='{{ fields|length }}'>~~ No data available ~~</td>
                {% endif%}
            </tr>
        {% endfor %}
        </tbody>
      </table>
      </div>
      {% if fields["_note"] %}
      <p>{{ fields["_note"] }}</p>
      {% endif %}
      </div>
      {% endcall %}
      {% endfor %}
      {% endif %}

  {% endif %}