name: Django tests
on: [push, pull_request]
jobs:
  django-test:
    runs-on: ubuntu-latest

    services:
      postgres_data:
        image: postgres:14.5
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: github_actions_data
        ports:
          - 5432:5432
        # needed because the postgres container does not provide a healthcheck
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
      postgres_admin:
        image: postgres:14.5
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: github_actions_admin
        ports:
          - 5433:5432
        # needed because the postgres container does not provide a healthcheck
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    env:
      DATABASE_URL: postgres://postgres:postgres@localhost:5432/github_actions_data
      DATABASE_ADMIN_URL: postgres://postgres:postgres@localhost:5433/github_actions_admin
      SECRET_KEY: 1234567890

    steps:
      - uses: actions/checkout@v3
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.7.19"
          enable-cache: true
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version-file: ".python-version"
          cache: "pip"
      - name: Install dependencies
        run: uv sync --locked --all-extras --dev
      - name: ruff
        run: |
          uv run ruff check .
          uv run ruff format . --check
      - name: Run migrations
        run: |
          uv run python manage.py migrate --database=data --noinput
          uv run python manage.py migrate --database=admin --noinput
          uv run python manage.py collectstatic
      - name: Test with django test
        run: |
          uv run pytest
