name: Python linting
on: [push, pull_request]
jobs:
  django-lint:

    runs-on: ubuntu-latest
    env:
      SECRET_KEY: 1234567890

    steps:
    - uses: actions/checkout@v3
    - name: Parse Python version
      run: sed  s/python-// runtime.txt | head > .python-version
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version-file: '.python-version'
    - name: psycopg2 prerequisites
      run: sudo apt-get install libxml2-dev libxslt-dev python3-dev libpq-dev
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: ruff
      run: |
        ruff check .
    - name: black
      run: |
        black . --check
